# Julia DataFrames.jl 介紹 (一): 入門操作

![](https://juliadata.github.io/DataFrames.jl/stable/assets/logo.png)

DataFrames.jl 官方網站: [https://juliadata.github.io/DataFrames.jl/stable/](https://juliadata.github.io/DataFrames.jl/stable/)

DataFrames.jl GitHub: [https://github.com/JuliaData/DataFrames.jl/blob/master/docs/src/index.md](https://github.com/JuliaData/DataFrames.jl/blob/master/docs/src/index.md)

## 0. 安裝

如果尚未安裝過 DataFrames.jl 的話, 執行 `Pkg.add()` 進行安裝

In [1]:
using Pkg
Pkg.add(PackageSpec(name="DataFrames", version="0.20.2"))

   Updating registry at `C:\Users\HSI\.julia\registries\General`

   Updating git-repo `https://github.com/JuliaRegistries/General.git`

Fetching: [========================================>]  100.0 %[36mFetching: [=====>                                   ]  10.9 % [=======>                                 ]  16.4 %.4 %]  31.8 % %]  49.5 % %Fetching: [==========================>              ]  64.1 %]  67.7 %.1 %Fetching: [===============================>         ]  77.4 %Fetching: [==================================>      ]  83.2 %    ]  88.1 % %]  95.9 %

  Resolving package versions...
   Updating `C:\Users\HSI\.julia\environments\v1.4\Project.toml`
 [no changes]
   Updating `C:\Users\HSI\.julia\environments\v1.4\Manifest.toml`
 [no changes]

## 1. 建立 DataFrame

In [2]:
using DataFrames

In [ ]:
list1 = [:F1,:F2,:F3]
dfx = DataFrame();
for i in list1
    dfx[:,i] = 1:3
end

dfx

### 1.1 使用向量建立 DataFrame

In [9]:
methods(DataFrame)

# 22 methods for type constructor:
[1] DataFrame(df::DataFrame; copycols) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:133
[2] DataFrame(; kwargs...) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:154
[3] DataFrame(columns::Union{Array{AbstractArray{T,1} where T,1}, Array{Any,1}}, colindex::DataFrames.Index; copycols) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:96
[4] DataFrame(pairs::Pair{Symbol,#s26} where #s26...; makeunique, copycols) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:137
[5] DataFrame(d::AbstractDict; copycols) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:143
[6] DataFrame(columns::AbstractArray{#s32,1} where #s32<:(AbstractArray{T,1} where T)) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:189
[7] DataFrame(columns::AbstractArray{#s31,1} where #s31<:(AbstractArray{T,1} where T), cnames::AbstractArray{Symbol,1}; makeunique, copycols) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:189
[8] DataFrame(column_eltypes::AbstractArray{T,1}, cnames::AbstractArray{Symbol,1}) where T<:Type in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:210
[9] DataFrame(column_eltypes::AbstractArray{T,1}, cnames::AbstractArray{Symbol,1}, nrows::Integer; makeunique) where T<:Type in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:210
[10] DataFrame(column_eltypes::AbstractArray{T,1}, cnames::AbstractArray{Symbol,1}, categorical::AbstractArray{Bool,1}, nrows::Integer; makeunique) where T<:Type in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\deprecated.jl:11
[11] DataFrame(x::AbstractArray{NamedTuple{names,T},1}; copycols) where {names, T} in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\other\tables.jl:54
[12] DataFrame(columns::AbstractArray{T,1} where T, cnames::AbstractArray{Symbol,1}; makeunique, copycols) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:178
[13] DataFrame(columns::Tuple{Vararg{AbstractArray{T,1} where T,N}}; copycols) where N in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:199
[14] DataFrame(columns::Tuple{Vararg{AbstractArray{T,1} where T,N}}, cnames::Tuple{Vararg{Symbol,N}}; makeunique, copycols) where N in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:195
[15] DataFrame(columns::AbstractArray{T,2} where T) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:204
[16] DataFrame(columns::AbstractArray{T,2} where T, cnames::AbstractArray{Symbol,1}; makeunique) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:204
[17] DataFrame(sdf::SubDataFrame; copycols) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\subdataframe\subdataframe.jl:169
[18] DataFrame(dfr::DataFrameRow) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframerow\dataframerow.jl:273
[19] DataFrame(gd::GroupedDataFrame; copycols) in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\groupeddataframe\grouping.jl:1518
[20] DataFrame(t::Type, nrows::Integer, ncols::Integer) in DataFrames at deprecated.jl:65
[21] DataFrame(column_eltypes::AbstractArray{#s198,1} where #s198<:Type, nrows::Integer) in DataFrames at deprecated.jl:65
[22] DataFrame(x::T; copycols) where T in DataFrames at C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\other\tables.jl:31

In [7]:
df = DataFrame(col1 = 1:5, col2 = ["M", "F", "F", missing, "M"])
# df = DataFrame(1:5, ["M", "F", "F", missing, "M"]) # This fails.

5×2 DataFrame
│ Row │ col1  │ col2    │
│     │ Int64 │ String⍰ │
├─────┼───────┼─────────┤
│ 1   │ 1     │ M       │
│ 2   │ 2     │ F       │
│ 3   │ 3     │ F       │
│ 4   │ 4     │ missing │
│ 5   │ 5     │ M       │

### 1.2 使用 column by column 的方式建立 DataFrame

In [191]:
# 使用建構子建立空的 DataFrame
df = DataFrame()

0×0 DataFrame

In [192]:
# 指定各個 column 及其值, 加入到 DataFrame 中
df.col1 = 1:5
df.col2 = ["M", "F", "F", missing, "M"]

# DataFrames.show() 函式顯示 DataFrame
show(df)

5×2 DataFrame
│ Row │ col1  │ col2    │
│     │ Int64 │ String⍰ │
├─────┼───────┼─────────┤
│ 1   │ 1     │ M       │
│ 2   │ 2     │ F       │
│ 3   │ 3     │ F       │
│ 4   │ 4     │ missing │
│ 5   │ 5     │ M       │

### 1.3 新增 row 資料列到 DataFrame

新增 row 到 DataFrame, 資料值的部分可以使用 tuple, vector, 或是 dictionary

In [32]:
# 使用 tuple
push!(df, (1, "M"))

6×2 DataFrame
│ Row │ col1  │ col2    │
│     │ Int64 │ String⍰ │
├─────┼───────┼─────────┤
│ 1   │ 1     │ M       │
│ 2   │ 2     │ F       │
│ 3   │ 3     │ F       │
│ 4   │ 4     │ missing │
│ 5   │ 5     │ M       │
│ 6   │ 1     │ M       │

In [33]:
# 使用 vector
push!(df, [2, "f"])

7×2 DataFrame
│ Row │ col1  │ col2    │
│     │ Int64 │ String⍰ │
├─────┼───────┼─────────┤
│ 1   │ 1     │ M       │
│ 2   │ 2     │ F       │
│ 3   │ 3     │ F       │
│ 4   │ 4     │ missing │
│ 5   │ 5     │ M       │
│ 6   │ 1     │ M       │
│ 7   │ 2     │ f       │

In [209]:
describe(df[:,[:col2]])

1×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean    │ min    │ median  │ max    │ nunique │ nmissing │
│     │ Symbol   │ Nothing │ String │ Nothing │ String │ Int64   │ Int64    │
├─────┼──────────┼─────────┼────────┼─────────┼────────┼─────────┼──────────┤
│ 1   │ col2     │         │ F      │         │ M      │ 2       │ 1        │

In [211]:
# 使用 Dict
push!(df, Dict(:col2 => "F", :col1 => 2)) 
# question mark in a column title indicates that there are missing in the array

7×2 DataFrame
│ Row │ col1  │ col2    │
│     │ Int64 │ String⍰ │
├─────┼───────┼─────────┤
│ 1   │ 1     │ M       │
│ 2   │ 2     │ F       │
│ 3   │ 3     │ F       │
│ 4   │ 4     │ missing │
│ 5   │ 5     │ M       │
│ 6   │ 2     │ F       │
│ 7   │ 2     │ F       │

In [35]:
push!(df, Dict("col2" => "F", "col1" => 2))

┌ Error: Error adding value to column :col1.
└ @ DataFrames C:\Users\HSI\.julia\packages\DataFrames\S3ZFo\src\dataframe\dataframe.jl:1316

KeyError: KeyError: key :col1 not found

In [187]:
dict1 = Dict(:key1 => 1,:key2 => 2)

Dict{Symbol,Int64} with 2 entries:
  :key2 => 2
  :key1 => 1

In [184]:
dict1 = Dict("key1" => 1,:key2 => 2)

Dict{Any,Int64} with 2 entries:
  :key2  => 2
  "key1" => 1

### 1.4 刪除 Row 資料

呼叫 `deleterows!()` 函式可將 DataFrame 中指定的 row 刪除

In [24]:
deleterows!(df, 7:8)

8×2 DataFrame
│ Row │ col1  │ col2    │
│     │ Int64 │ String⍰ │
├─────┼───────┼─────────┤
│ 1   │ 1     │ M       │
│ 2   │ 2     │ F       │
│ 3   │ 3     │ F       │
│ 4   │ 4     │ missing │
│ 5   │ 5     │ M       │
│ 6   │ 1     │ M       │
│ 7   │ 2     │ f       │
│ 8   │ 1     │ M       │

### 1.5 載入資料集

延續先前範例, 使用 CSV 載入 UCI Machine Learning Repository 的 Auto MPG Data Set, 資料集的物件為 DataFrames 類型.

若尚未安裝 CSV.jl 的話請先安裝.

In [10]:
Pkg.add("CSV")

 Resolving package versions...
  Updating `~/.julia/environments/v1.2/Project.toml`
 [no changes]
  Updating `~/.julia/environments/v1.2/Manifest.toml`
 [no changes]

In [25]:
using CSV

使用 CSV.jl 透過 `read()` 函式將 CSV 資料產生為 DataFrame, `CSV.read()` 之回傳資料類別即為 DataFrame 型別.

warning 的訊息是正常的，原因是資料集裡面有缺值，所以載入 CSV 時會有警告訊息.

In [53]:
df = CSV.read("auto-mpg_D17.data", delim=',')

thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 29. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 33. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 127. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 331. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 337. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 355. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 375. Ignoring any extra columns on this row

398×9 DataFrame. Omitted printing of 4 columns
│ Row │ mpg     │ cylinders │ displacement │ horsepower │ weight   │
│     │ Float64 │ Int64⍰    │ Float64      │ String     │ Float64⍰ │
├─────┼─────────┼───────────┼──────────────┼────────────┼──────────┤
│ 1   │ 18.0    │ 8         │ 307.0        │ 130.0      │ 3504.0   │
│ 2   │ 15.0    │ 8         │ 350.0        │ 165.0      │ 3693.0   │
│ 3   │ 18.0    │ 8         │ 318.0        │ 150.0      │ 3436.0   │
│ 4   │ 16.0    │ 8         │ 304.0        │ 150.0      │ 3433.0   │
│ 5   │ 17.0    │ 8         │ 302.0        │ 140.0      │ 3449.0   │
│ 6   │ 15.0    │ 8         │ 429.0        │ 198.0      │ 4341.0   │
│ 7   │ 14.0    │ 8         │ 454.0        │ 220.0      │ 4354.0   │
│ 8   │ 14.0    │ 8         │ 440.0        │ 215.0      │ 4312.0   │
│ 9   │ 14.0    │ 8         │ 455.0        │ 225.0      │ 4425.0   │
│ 10  │ 15.0    │ 8         │ 390.0        │ 190.0      │ 3850.0   │
⋮
│ 388 │ 38.0    │ 6         │ 262.0        │ 85.00      │ 3015.0   │
│ 389 │ 26.0    │ 4         │ 156.0        │ 92.00      │ 2585.0   │
│ 390 │ 22.0    │ 6         │ 232.0        │ 112.0      │ 2835.0   │
│ 391 │ 32.0    │ 4         │ 144.0        │ 96.00      │ 2665.0   │
│ 392 │ 36.0    │ 4         │ 135.0        │ 84.00      │ 2370.0   │
│ 393 │ 27.0    │ 4         │ 151.0        │ 90.00      │ 2950.0   │
│ 394 │ 27.0    │ 4         │ 140.0        │ 86.00      │ 2790.0   │
│ 395 │ 44.0    │ 4         │ 97.0         │ 52.00      │ 2130.0   │
│ 396 │ 32.0    │ 4         │ 135.0        │ 84.00      │ 2295.0   │
│ 397 │ 28.0    │ 4         │ 120.0        │ 79.00      │ 2625.0   │
│ 398 │ 31.0    │ 4         │ 119.0        │ 82.00      │ 2720.0   │

In [27]:
# 要顯示所有 column 或 row 的話, 可以透過 `show()` 函式
# 下面示範顯示第 1 - 5筆資料列的所有 column
show(df[1:5, :], allcols=true)

5×9 DataFrame
│ Row │ mpg     │ cylinders │ displacement │ horsepower │ weight   │
│     │ Float64 │ Int64⍰    │ Float64      │ String     │ Float64⍰ │
├─────┼─────────┼───────────┼──────────────┼────────────┼──────────┤
│ 1   │ 18.0    │ 8         │ 307.0        │ 130.0      │ 3504.0   │
│ 2   │ 15.0    │ 8         │ 350.0        │ 165.0      │ 3693.0   │
│ 3   │ 18.0    │ 8         │ 318.0        │ 150.0      │ 3436.0   │
│ 4   │ 16.0    │ 8         │ 304.0        │ 150.0      │ 3433.0   │
│ 5   │ 17.0    │ 8         │ 302.0        │ 140.0      │ 3449.0   │

│ Row │ acceleration │ model year │ origin  │ car name                  │
│     │ Float64⍰     │ Float64    │ Float64 │ String                    │
├─────┼──────────────┼────────────┼─────────┼───────────────────────────┤
│ 1   │ 12.0         │ 70.0       │ 1.0     │ chevrolet chevelle malibu │
│ 2   │ 11.5         │ 70.0       │ 1.0     │ buick skylark 320         │
│ 3   │ 11.0         │ 70.0       │ 1.0     │ plymouth satellite        │
│ 4   │ 12.0         │ 70.0       │ 1.0     │ amc rebel sst             │
│ 5   │ 10.5         │ 70.0       │ 1.0     │ ford torino               │

### 1.6 複製 DataFrame

呼叫 `copy()` 函式可以複製並建立一個新的 DataFrame

In [79]:
df2 = copy(df)
# df2 和 df 的內容相同
describe(df2) # For an object x, print descriptive statistics to io.

2×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean   │ min │ median │ max │ nunique │ nmissing │
│     │ Symbol   │ Union… │ Any │ Union… │ Any │ Union…  │ Union…   │
├─────┼──────────┼────────┼─────┼────────┼─────┼─────────┼──────────┤
│ 1   │ col1     │ 3.0    │ 1   │ 3.0    │ 5   │         │          │
│ 2   │ col2     │        │ F   │        │ M   │ 2       │ 1        │

You must use `df2 = copy(df)` or `df2 = df[:,:]` to duplicate an entire dataframe. Otherwise, modifications on one also apply to the other.

In [248]:
df = DataFrame();
df.col1 = 1:6
df.col2 = ["row 1", "row 2", "row 3", "row 4",missing, "row 6"];

In [249]:
df2 = df # df2 just points to df. No duplication
df3 = copy(df) # this duplicates
df4 = df[:,:] # this duplicates
df6 = first(df,5) # this duplicates
df5 = view(df,2,:) # return indices that point to df1. No duplication
df7 = df[!,:]

6×2 DataFrame
│ Row │ col1  │ col2    │
│     │ Int64 │ String⍰ │
├─────┼───────┼─────────┤
│ 1   │ 1     │ row 1   │
│ 2   │ 2     │ row 2   │
│ 3   │ 3     │ row 3   │
│ 4   │ 4     │ row 4   │
│ 5   │ 5     │ missing │
│ 6   │ 6     │ row 6   │

In [254]:
deleterows!(df,[2,3]) # delete row 2, 3
deleterows!(df2,4) # delete row 4 (previous row 6)
deleterows!(df3,5)
deleterows!(df4,1:4)
show(df); show(df2); show(df3); show(df4); show(df6);

BoundsError: BoundsError: attempt to access 1-element Array{Int64,1} at index [4]

In [251]:
df

3×2 DataFrame
│ Row │ col1  │ col2    │
│     │ Int64 │ String⍰ │
├─────┼───────┼─────────┤
│ 1   │ 1     │ row 1   │
│ 2   │ 4     │ row 4   │
│ 3   │ 5     │ missing │

`df5 = view(df,2,:)` views the 1st row in df. Since the rows 2,3,6 of df are deleted previously, the 2nd row is now the previous 4th row.

In [252]:
df5

DataFrameRow
│ Row │ col1  │ col2    │
│     │ Int64 │ String⍰ │
├─────┼───────┼─────────┤
│ 2   │ 4     │ row 4   │

In [253]:
df7

3×2 DataFrame
│ Row │ col1  │ col2    │
│     │ Int64 │ String⍰ │
├─────┼───────┼─────────┤
│ 1   │ 1     │ row 1   │
│ 2   │ 4     │ row 4   │
│ 3   │ 5     │ missing │

In [218]:
println(objectid(df))
println(objectid(df2))
println(objectid(df3))
println(objectid(df4))
println(objectid(df5))
println(objectid(df6))
println(objectid(df7)) # memory location

18105907993406196748
18105907993406196748
62453577532054375
12534539854090992422
17500274004664766282
10794258277842078017
5241647470823125230

## 2. 將 DataFrame 儲存到 CSV 檔案

In [134]:
df = CSV.read("auto-mpg_D17.data", delim=',')
CSV.write("a_D17.csv", df)

thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 29. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 33. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 127. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 331. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 337. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 355. Ignoring any extra columns on this row
thread = 1 warning: parsed expected 9 columns, but didn't reach end of line on data row: 375. Ignoring any extra columns on this row

"a_D17.csv"

從目錄中可以看到 csv 檔案已寫入

In [135]:
readdir()

50-element Array{String,1}:
 ".ipynb_checkpoints"
 "04-02-2020.csv"
 "04-02-2020_D18.csv"
 "04-02-2020_D19.csv"
 "AbstractArray.png"
 "Julia_Number (2).png"
 "Julia_Number.png"
 "Questions to ask.ipynb"
 "a.csv"
 "a_D17.csv"
 "auto-mpg.data"
 "auto-mpg_D17.data"
 "b.json"
 ⋮
 "julia_014_database_IO_csv_json_SQL.ipynb"
 "julia_015_Logging.ipynb"
 "julia_016_Multiple Dispatch.ipynb"
 "julia_017_ DataFrames 入門.ipynb"
 "julia_018_example.ipynb"
 "julia_019_example-Copy1.ipynb"
 "julia_019_example.ipynb"
 "julia_020_example.ipynb"
 "log.txt"
 "pointy.png"
 "scalar_index.png"
 "train.csv"

In [136]:
# 使用 Julia 內建的 DelimitedFiles library 
using DelimitedFiles

In [137]:
# 驗證檔案 header 與前 5 筆資料
readdlm("a_D17.csv")[1:6]

6-element Array{Any,1}:
 "mpg,cylinders,displacement,horsepower,weight,acceleration,model"
 "18.0,8,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet"
 "15.0,8,350.0,165.0,3693.0,11.5,70.0,1.0,buick"
 "18.0,8,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth"
 "16.0,8,304.0,150.0,3433.0,12.0,70.0,1.0,amc"
 "17.0,8,302.0,140.0,3449.0,10.5,70.0,1.0,ford"

## 3. DataFrame 的操作

### 3.1 檢視 DataFrame

In [138]:
# 檢視 DataFrame 的尺寸
size(df)

(398, 9)

In [139]:
# 彙總 DataFrame 資訊
describe(df)

9×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable     │ mean    │ min    │ median │ max              │ nunique │
│     │ Symbol       │ Union…  │ Any    │ Union… │ Any              │ Union…  │
├─────┼──────────────┼─────────┼────────┼────────┼──────────────────┼─────────┤
│ 1   │ mpg          │ 23.5146 │ 9.0    │ 23.0   │ 46.6             │         │
│ 2   │ cylinders    │ 5.44836 │ 3      │ 4.0    │ 8                │         │
│ 3   │ displacement │ 192.682 │ 8.0    │ 146.0  │ 455.0            │         │
│ 4   │ horsepower   │         │  304.0 │        │ ?                │ 94      │
│ 5   │ weight       │ 2966.01 │ 193.0  │ 2797.5 │ 5140.0           │         │
│ 6   │ acceleration │ 27.5656 │ 8.0    │ 15.5   │ 4732.0           │         │
│ 7   │ model year   │ 112.433 │ 18.5   │ 76.0   │ 3035.0           │         │
│ 8   │ origin       │ 1.98719 │ 1.0    │ 1.0    │ 70.0             │         │
│ 9   │ car name     │         │  71    │        │ vw rabbit custom │ 306     │

下面三行程式, 均可列出所有的 row 與 column

In [60]:
df
df[!, :]
df[:, :]

398×9 DataFrame. Omitted printing of 4 columns
│ Row │ mpg     │ cylinders │ displacement │ horsepower │ weight   │
│     │ Float64 │ Int64⍰    │ Float64      │ String     │ Float64⍰ │
├─────┼─────────┼───────────┼──────────────┼────────────┼──────────┤
│ 1   │ 18.0    │ 8         │ 307.0        │ 130.0      │ 3504.0   │
│ 2   │ 15.0    │ 8         │ 350.0        │ 165.0      │ 3693.0   │
│ 3   │ 18.0    │ 8         │ 318.0        │ 150.0      │ 3436.0   │
│ 4   │ 16.0    │ 8         │ 304.0        │ 150.0      │ 3433.0   │
│ 5   │ 17.0    │ 8         │ 302.0        │ 140.0      │ 3449.0   │
│ 6   │ 15.0    │ 8         │ 429.0        │ 198.0      │ 4341.0   │
│ 7   │ 14.0    │ 8         │ 454.0        │ 220.0      │ 4354.0   │
│ 8   │ 14.0    │ 8         │ 440.0        │ 215.0      │ 4312.0   │
│ 9   │ 14.0    │ 8         │ 455.0        │ 225.0      │ 4425.0   │
│ 10  │ 15.0    │ 8         │ 390.0        │ 190.0      │ 3850.0   │
⋮
│ 388 │ 38.0    │ 6         │ 262.0        │ 85.00      │ 3015.0   │
│ 389 │ 26.0    │ 4         │ 156.0        │ 92.00      │ 2585.0   │
│ 390 │ 22.0    │ 6         │ 232.0        │ 112.0      │ 2835.0   │
│ 391 │ 32.0    │ 4         │ 144.0        │ 96.00      │ 2665.0   │
│ 392 │ 36.0    │ 4         │ 135.0        │ 84.00      │ 2370.0   │
│ 393 │ 27.0    │ 4         │ 151.0        │ 90.00      │ 2950.0   │
│ 394 │ 27.0    │ 4         │ 140.0        │ 86.00      │ 2790.0   │
│ 395 │ 44.0    │ 4         │ 97.0         │ 52.00      │ 2130.0   │
│ 396 │ 32.0    │ 4         │ 135.0        │ 84.00      │ 2295.0   │
│ 397 │ 28.0    │ 4         │ 120.0        │ 79.00      │ 2625.0   │
│ 398 │ 31.0    │ 4         │ 119.0        │ 82.00      │ 2720.0   │

在 Jupyter Notebook 環境中, 預設顯示螢幕容許大小的資料, 因此可能不會顯示所有 column 和 row. 使用 `show()` 函式, 可以有效地控制顯示. 下面的例子是設定 `allcols=true` 及 `allrows=true` 以顯示所有 column 及 row.

In [22]:
show(df, allcols=true, allrows=true)

398×9 DataFrame
│ Row │ mpg     │ cylinders │ displacement │ horsepower │ weight   │
│     │ Float64 │ Int64⍰    │ Float64      │ String     │ Float64⍰ │
├─────┼─────────┼───────────┼──────────────┼────────────┼──────────┤
│ 1   │ 18.0    │ 8         │ 307.0        │ 130.0      │ 3504.0   │
│ 2   │ 15.0    │ 8         │ 350.0        │ 165.0      │ 3693.0   │
│ 3   │ 18.0    │ 8         │ 318.0        │ 150.0      │ 3436.0   │
│ 4   │ 16.0    │ 8         │ 304.0        │ 150.0      │ 3433.0   │
│ 5   │ 17.0    │ 8         │ 302.0        │ 140.0      │ 3449.0   │
│ 6   │ 15.0    │ 8         │ 429.0        │ 198.0      │ 4341.0   │
│ 7   │ 14.0    │ 8         │ 454.0        │ 220.0      │ 4354.0   │
│ 8   │ 14.0    │ 8         │ 440.0        │ 215.0      │ 4312.0   │
│ 9   │ 14.0    │ 8         │ 455.0        │ 225.0      │ 4425.0   │
│ 10  │ 15.0    │ 8         │ 390.0        │ 190.0      │ 3850.0   │
│ 11  │ 15.0    │ 8         │ 383.0        │ 170.0      │ 3563.0   │
│ 12  │ 14.0    │ 8         │ 340.0        │ 160.0      │ 3609.0   │
│ 13  │ 15.0    │ 8         │ 400.0        │ 150.0      │ 3761.0   │
│ 14  │ 14.0    │ 8         │ 455.0        │ 225.0      │ 3086.0   │
│ 15  │ 24.0    │ 4         │ 113.0        │ 95.00      │ 2372.0   │
│ 16  │ 22.0    │ 6         │ 198.0        │ 95.00      │ 2833.0   │
│ 17  │ 18.0    │ 6         │ 199.0        │ 97.00      │ 2774.0   │
│ 18  │ 21.0    │ 6         │ 200.0        │ 85.00      │ 2587.0   │
│ 19  │ 27.0    │ 4         │ 97.0         │ 88.00      │ 2130.0   │
│ 20  │ 26.0    │ 4         │ 97.0         │ 46.00      │ 1835.0   │
│ 21  │ 25.0    │ 4         │ 110.0        │ 87.00      │ 2672.0   │
│ 22  │ 24.0    │ 4         │ 107.0        │ 90.00      │ 2430.0   │
│ 23  │ 25.0    │ 4         │ 104.0        │ 95.00      │ 2375.0   │
│ 24  │ 26.0    │ 4         │ 121.0        │ 113.0      │ 2234.0   │
│ 25  │ 21.0    │ 6         │ 199.0        │ 90.00      │ 2648.0   │
│ 26  │ 10.0    │ 8         │ 360.0        │ 215.0      │ 4615.0   │
│ 27  │ 10.0    │ 8         │ 307.0        │ 200.0      │ 4376.0   │
│ 28  │ 11.0    │ 8         │ 318.0        │ 210.0      │ 4382.0   │
│ 29  │ 9.0     │ missing   │ 8.0          │  304.0     │ 193.0    │
│ 30  │ 27.0    │ 4         │ 97.0         │ 88.00      │ 2130.0   │
│ 31  │ 28.0    │ 4         │ 140.0        │ 90.00      │ 2264.0   │
│ 32  │ 25.0    │ 4         │ 113.0        │ 95.00      │ 2228.0   │
│ 33  │ 25.0    │ 4         │ 98.0         │ ?          │ missing  │
│ 34  │ 19.0    │ 6         │ 232.0        │ 100.0      │ 2634.0   │
│ 35  │ 16.0    │ 6         │ 225.0        │ 105.0      │ 3439.0   │
│ 36  │ 17.0    │ 6         │ 250.0        │ 100.0      │ 3329.0   │
│ 37  │ 19.0    │ 6         │ 250.0        │ 88.00      │ 3302.0   │
│ 38  │ 18.0    │ 6         │ 232.0        │ 100.0      │ 3288.0   │
│ 39  │ 14.0    │ 8         │ 350.0        │ 165.0      │ 4209.0   │
│ 40  │ 14.0    │ 8         │ 400.0        │ 175.0      │ 4464.0   │
│ 41  │ 14.0    │ 8         │ 351.0        │ 153.0      │ 4154.0   │
│ 42  │ 14.0    │ 8         │ 318.0        │ 150.0      │ 4096.0   │
│ 43  │ 12.0    │ 8         │ 383.0        │ 180.0      │ 4955.0   │
│ 44  │ 13.0    │ 8         │ 400.0        │ 170.0      │ 4746.0   │
│ 45  │ 13.0    │ 8         │ 400.0        │ 175.0      │ 5140.0   │
│ 46  │ 18.0    │ 6         │ 258.0        │ 110.0      │ 2962.0   │
│ 47  │ 22.0    │ 4         │ 140.0        │ 72.00      │ 2408.0   │
│ 48  │ 19.0    │ 6         │ 250.0        │ 100.0      │ 3282.0   │
│ 49  │ 18.0    │ 6         │ 250.0        │ 88.00      │ 3139.0   │
│ 50  │ 23.0    │ 4         │ 122.0        │ 86.00      │ 2220.0   │
│ 51  │ 28.0    │ 4         │ 116.0        │ 90.00      │ 2123.0   │
│ 52  │ 30.0    │ 4         │ 79.0         │ 70.00      │ 2074.0   │
│ 53  │ 30.0    │ 4         │ 88.0         │ 76.00      │ 2065.0   │
│ 54  │ 31.0    │ 4         │ 71.0         │ 65.00      │ 1773.0   │
│ 55  │ 35.0    │ 4         │ 72.0         │ 69.00      │ 1613.0   │
│ 56  │ 27.0    │ 4         │ 97.0         │ 60.00      │ 1834.0   │
│ 57  │ 26.0    │ 4         │ 91.0         │ 70.00      │ 1955.0   │
│ 58  │ 24.0    │ 4         │ 113.0        │ 95.00      │ 2278.0   │
│ 59  │ 25.0    │ 4         │ 97.5         │ 80.00      │ 2126.0   │
│ 60  │ 23.0    │ 4         │ 97.0         │ 54.00      │ 2254.0   │
│ 61  │ 20.0    │ 4         │ 140.0        │ 90.00      │ 2408.0   │
│ 62  │ 21.0    │ 4         │ 122.0        │ 86.00      │ 2226.0   │
│ 63  │ 13.0    │ 8         │ 350.0        │ 165.0      │ 4274.0   │
│ 64  │ 14.0    │ 8         │ 400.0        │ 175.0      │ 4385.0   │
│ 65  │ 15.0    │ 8         │ 318.0        │ 150.0      │ 4135.0   │
│ 66  │ 14.0    │ 8         │ 351.0        │ 153.0      │ 4129.0   │
│ 67  │ 17.0    │ 8         │ 304.0        │ 150.0      │ 3672.0   │
│ 68  │ 11.0    │ 8         │ 429.0        │ 208.0      │ 4633.0   │
│ 69  │ 13.0    │ 8         │ 350.0        │ 155.0      │ 4502.0   │
│ 70  │ 12.0    │ 8         │ 350.0        │ 160.0      │ 4456.0   │
│ 71  │ 13.0    │ 8         │ 400.0        │ 190.0      │ 4422.0   │
│ 72  │ 19.0    │ 3         │ 70.0         │ 97.00      │ 2330.0   │
│ 73  │ 15.0    │ 8         │ 304.0        │ 150.0      │ 3892.0   │
│ 74  │ 13.0    │ 8         │ 307.0        │ 130.0      │ 4098.0   │
│ 75  │ 13.0    │ 8         │ 302.0        │ 140.0      │ 4294.0   │
│ 76  │ 14.0    │ 8         │ 318.0        │ 150.0      │ 4077.0   │
│ 77  │ 18.0    │ 4         │ 121.0        │ 112.0      │ 2933.0   │
│ 78  │ 22.0    │ 4         │ 121.0        │ 76.00      │ 2511.0   │
│ 79  │ 21.0    │ 4         │ 120.0        │ 87.00      │ 2979.0   │
│ 80  │ 26.0    │ 4         │ 96.0         │ 69.00      │ 2189.0   │
│ 81  │ 22.0    │ 4         │ 122.0        │ 86.00      │ 2395.0   │
│ 82  │ 28.0    │ 4         │ 97.0         │ 92.00      │ 2288.0   │
│ 83  │ 23.0    │ 4         │ 120.0        │ 97.00      │ 2506.0   │
│ 84  │ 28.0    │ 4         │ 98.0         │ 80.00      │ 2164.0   │
│ 85  │ 27.0    │ 4         │ 97.0         │ 88.00      │ 2100.0   │
│ 86  │ 13.0    │ 8         │ 350.0        │ 175.0      │ 4100.0   │
│ 87  │ 14.0    │ 8         │ 304.0        │ 150.0      │ 3672.0   │
│ 88  │ 13.0    │ 8         │ 350.0        │ 145.0      │ 3988.0   │
│ 89  │ 14.0    │ 8         │ 302.0        │ 137.0      │ 4042.0   │
│ 90  │ 15.0    │ 8         │ 318.0        │ 150.0      │ 3777.0   │
│ 91  │ 12.0    │ 8         │ 429.0        │ 198.0      │ 4952.0   │
│ 92  │ 13.0    │ 8         │ 400.0        │ 150.0      │ 4464.0   │
│ 93  │ 13.0    │ 8         │ 351.0        │ 158.0      │ 4363.0   │
│ 94  │ 14.0    │ 8         │ 318.0        │ 150.0      │ 4237.0   │
│ 95  │ 13.0    │ 8         │ 440.0        │ 215.0      │ 4735.0   │
│ 96  │ 12.0    │ 8         │ 455.0        │ 225.0      │ 4951.0   │
│ 97  │ 13.0    │ 8         │ 360.0        │ 175.0      │ 3821.0   │
│ 98  │ 18.0    │ 6         │ 225.0        │ 105.0      │ 3121.0   │
│ 99  │ 16.0    │ 6         │ 250.0        │ 100.0      │ 3278.0   │
│ 100 │ 18.0    │ 6         │ 232.0        │ 100.0      │ 2945.0   │
│ 101 │ 18.0    │ 6         │ 250.0        │ 88.00      │ 3021.0   │
│ 102 │ 23.0    │ 6         │ 198.0        │ 95.00      │ 2904.0   │
│ 103 │ 26.0    │ 4         │ 97.0         │ 46.00      │ 1950.0   │
│ 104 │ 11.0    │ 8         │ 400.0        │ 150.0      │ 4997.0   │
│ 105 │ 12.0    │ 8         │ 400.0        │ 167.0      │ 4906.0   │
│ 106 │ 13.0    │ 8         │ 360.0        │ 170.0      │ 4654.0   │
│ 107 │ 12.0    │ 8         │ 350.0        │ 180.0      │ 4499.0   │
│ 108 │ 18.0    │ 6         │ 232.0        │ 100.0      │ 2789.0   │
│ 109 │ 20.0    │ 4         │ 97.0         │ 88.00      │ 2279.0   │
│ 110 │ 21.0    │ 4         │ 140.0        │ 72.00      │ 2401.0   │
│ 111 │ 22.0    │ 4         │ 108.0        │ 94.00      │ 2379.0   │
│ 112 │ 18.0    │ 3         │ 70.0         │ 90.00      │ 2124.0   │
│ 113 │ 19.0    │ 4         │ 122.0        │ 85.00      │ 2310.0   │
│ 114 │ 21.0    │ 6         │ 155.0        │ 107.0      │ 2472.0   │
│ 115 │ 26.0    │ 4         │ 98.0         │ 90.00      │ 2265.0   │
│ 116 │ 15.0    │ 8         │ 350.0        │ 145.0      │ 4082.0   │
│ 117 │ 16.0    │ 8         │ 400.0        │ 230.0      │ 4278.0   │
│ 118 │ 29.0    │ 4         │ 68.0         │ 49.00      │ 1867.0   │
│ 119 │ 24.0    │ 4         │ 116.0        │ 75.00      │ 2158.0   │
│ 120 │ 20.0    │ 4         │ 114.0        │ 91.00      │ 2582.0   │
│ 121 │ 19.0    │ 4         │ 121.0        │ 112.0      │ 2868.0   │
│ 122 │ 15.0    │ 8         │ 318.0        │ 150.0      │ 3399.0   │
│ 123 │ 24.0    │ 4         │ 121.0        │ 110.0      │ 2660.0   │
│ 124 │ 20.0    │ 6         │ 156.0        │ 122.0      │ 2807.0   │
│ 125 │ 11.0    │ 8         │ 350.0        │ 180.0      │ 3664.0   │
│ 126 │ 20.0    │ 6         │ 198.0        │ 95.00      │ 3102.0   │
│ 127 │ 21.0    │ 6         │ 200.0        │ ?          │ missing  │
│ 128 │ 19.0    │ 6         │ 232.0        │ 100.0      │ 2901.0   │
│ 129 │ 15.0    │ 6         │ 250.0        │ 100.0      │ 3336.0   │
│ 130 │ 31.0    │ 4         │ 79.0         │ 67.00      │ 1950.0   │
│ 131 │ 26.0    │ 4         │ 122.0        │ 80.00      │ 2451.0   │
│ 132 │ 32.0    │ 4         │ 71.0         │ 65.00      │ 1836.0   │
│ 133 │ 25.0    │ 4         │ 140.0        │ 75.00      │ 2542.0   │
│ 134 │ 16.0    │ 6         │ 250.0        │ 100.0      │ 3781.0   │
│ 135 │ 16.0    │ 6         │ 258.0        │ 110.0      │ 3632.0   │
│ 136 │ 18.0    │ 6         │ 225.0        │ 105.0      │ 3613.0   │
│ 137 │ 16.0    │ 8         │ 302.0        │ 140.0      │ 4141.0   │
│ 138 │ 13.0    │ 8         │ 350.0        │ 150.0      │ 4699.0   │
│ 139 │ 14.0    │ 8         │ 318.0        │ 150.0      │ 4457.0   │
│ 140 │ 14.0    │ 8         │ 302.0        │ 140.0      │ 4638.0   │
│ 141 │ 14.0    │ 8         │ 304.0        │ 150.0      │ 4257.0   │
│ 142 │ 29.0    │ 4         │ 98.0         │ 83.00      │ 2219.0   │
│ 143 │ 26.0    │ 4         │ 79.0         │ 67.00      │ 1963.0   │
│ 144 │ 26.0    │ 4         │ 97.0         │ 78.00      │ 2300.0   │
│ 145 │ 31.0    │ 4         │ 76.0         │ 52.00      │ 1649.0   │
│ 146 │ 32.0    │ 4         │ 83.0         │ 61.00      │ 2003.0   │
│ 147 │ 28.0    │ 4         │ 90.0         │ 75.00      │ 2125.0   │
│ 148 │ 24.0    │ 4         │ 90.0         │ 75.00      │ 2108.0   │
│ 149 │ 26.0    │ 4         │ 116.0        │ 75.00      │ 2246.0   │
│ 150 │ 24.0    │ 4         │ 120.0        │ 97.00      │ 2489.0   │
│ 151 │ 26.0    │ 4         │ 108.0        │ 93.00      │ 2391.0   │
│ 152 │ 31.0    │ 4         │ 79.0         │ 67.00      │ 2000.0   │
│ 153 │ 19.0    │ 6         │ 225.0        │ 95.00      │ 3264.0   │
│ 154 │ 18.0    │ 6         │ 250.0        │ 105.0      │ 3459.0   │
│ 155 │ 15.0    │ 6         │ 250.0        │ 72.00      │ 3432.0   │
│ 156 │ 15.0    │ 6         │ 250.0        │ 72.00      │ 3158.0   │
│ 157 │ 16.0    │ 8         │ 400.0        │ 170.0      │ 4668.0   │
│ 158 │ 15.0    │ 8         │ 350.0        │ 145.0      │ 4440.0   │
│ 159 │ 16.0    │ 8         │ 318.0        │ 150.0      │ 4498.0   │
│ 160 │ 14.0    │ 8         │ 351.0        │ 148.0      │ 4657.0   │
│ 161 │ 17.0    │ 6         │ 231.0        │ 110.0      │ 3907.0   │
│ 162 │ 16.0    │ 6         │ 250.0        │ 105.0      │ 3897.0   │
│ 163 │ 15.0    │ 6         │ 258.0        │ 110.0      │ 3730.0   │
│ 164 │ 18.0    │ 6         │ 225.0        │ 95.00      │ 3785.0   │
│ 165 │ 21.0    │ 6         │ 231.0        │ 110.0      │ 3039.0   │
│ 166 │ 20.0    │ 8         │ 262.0        │ 110.0      │ 3221.0   │
│ 167 │ 13.0    │ 8         │ 302.0        │ 129.0      │ 3169.0   │
│ 168 │ 29.0    │ 4         │ 97.0         │ 75.00      │ 2171.0   │
│ 169 │ 23.0    │ 4         │ 140.0        │ 83.00      │ 2639.0   │
│ 170 │ 20.0    │ 6         │ 232.0        │ 100.0      │ 2914.0   │
│ 171 │ 23.0    │ 4         │ 140.0        │ 78.00      │ 2592.0   │
│ 172 │ 24.0    │ 4         │ 134.0        │ 96.00      │ 2702.0   │
│ 173 │ 25.0    │ 4         │ 90.0         │ 71.00      │ 2223.0   │
│ 174 │ 24.0    │ 4         │ 119.0        │ 97.00      │ 2545.0   │
│ 175 │ 18.0    │ 6         │ 171.0        │ 97.00      │ 2984.0   │
│ 176 │ 29.0    │ 4         │ 90.0         │ 70.00      │ 1937.0   │
│ 177 │ 19.0    │ 6         │ 232.0        │ 90.00      │ 3211.0   │
│ 178 │ 23.0    │ 4         │ 115.0        │ 95.00      │ 2694.0   │
│ 179 │ 23.0    │ 4         │ 120.0        │ 88.00      │ 2957.0   │
│ 180 │ 22.0    │ 4         │ 121.0        │ 98.00      │ 2945.0   │
│ 181 │ 25.0    │ 4         │ 121.0        │ 115.0      │ 2671.0   │
│ 182 │ 33.0    │ 4         │ 91.0         │ 53.00      │ 1795.0   │
│ 183 │ 28.0    │ 4         │ 107.0        │ 86.00      │ 2464.0   │
│ 184 │ 25.0    │ 4         │ 116.0        │ 81.00      │ 2220.0   │
│ 185 │ 25.0    │ 4         │ 140.0        │ 92.00      │ 2572.0   │
│ 186 │ 26.0    │ 4         │ 98.0         │ 79.00      │ 2255.0   │
│ 187 │ 27.0    │ 4         │ 101.0        │ 83.00      │ 2202.0   │
│ 188 │ 17.5    │ 8         │ 305.0        │ 140.0      │ 4215.0   │
│ 189 │ 16.0    │ 8         │ 318.0        │ 150.0      │ 4190.0   │
│ 190 │ 15.5    │ 8         │ 304.0        │ 120.0      │ 3962.0   │
│ 191 │ 14.5    │ 8         │ 351.0        │ 152.0      │ 4215.0   │
│ 192 │ 22.0    │ 6         │ 225.0        │ 100.0      │ 3233.0   │
│ 193 │ 22.0    │ 6         │ 250.0        │ 105.0      │ 3353.0   │
│ 194 │ 24.0    │ 6         │ 200.0        │ 81.00      │ 3012.0   │
│ 195 │ 22.5    │ 6         │ 232.0        │ 90.00      │ 3085.0   │
│ 196 │ 29.0    │ 4         │ 85.0         │ 52.00      │ 2035.0   │
│ 197 │ 24.5    │ 4         │ 98.0         │ 60.00      │ 2164.0   │
│ 198 │ 29.0    │ 4         │ 90.0         │ 70.00      │ 1937.0   │
│ 199 │ 33.0    │ 4         │ 91.0         │ 53.00      │ 1795.0   │
│ 200 │ 20.0    │ 6         │ 225.0        │ 100.0      │ 3651.0   │
│ 201 │ 18.0    │ 6         │ 250.0        │ 78.00      │ 3574.0   │
│ 202 │ 18.5    │ 6         │ 250.0        │ 110.0      │ 3645.0   │
│ 203 │ 17.5    │ 6         │ 258.0        │ 95.00      │ 3193.0   │
│ 204 │ 29.5    │ 4         │ 97.0         │ 71.00      │ 1825.0   │
│ 205 │ 32.0    │ 4         │ 85.0         │ 70.00      │ 1990.0   │
│ 206 │ 28.0    │ 4         │ 97.0         │ 75.00      │ 2155.0   │
│ 207 │ 26.5    │ 4         │ 140.0        │ 72.00      │ 2565.0   │
│ 208 │ 20.0    │ 4         │ 130.0        │ 102.0      │ 3150.0   │
│ 209 │ 13.0    │ 8         │ 318.0        │ 150.0      │ 3940.0   │
│ 210 │ 19.0    │ 4         │ 120.0        │ 88.00      │ 3270.0   │
│ 211 │ 19.0    │ 6         │ 156.0        │ 108.0      │ 2930.0   │
│ 212 │ 16.5    │ 6         │ 168.0        │ 120.0      │ 3820.0   │
│ 213 │ 16.5    │ 8         │ 350.0        │ 180.0      │ 4380.0   │
│ 214 │ 13.0    │ 8         │ 350.0        │ 145.0      │ 4055.0   │
│ 215 │ 13.0    │ 8         │ 302.0        │ 130.0      │ 3870.0   │
│ 216 │ 13.0    │ 8         │ 318.0        │ 150.0      │ 3755.0   │
│ 217 │ 31.5    │ 4         │ 98.0         │ 68.00      │ 2045.0   │
│ 218 │ 30.0    │ 4         │ 111.0        │ 80.00      │ 2155.0   │
│ 219 │ 36.0    │ 4         │ 79.0         │ 58.00      │ 1825.0   │
│ 220 │ 25.5    │ 4         │ 122.0        │ 96.00      │ 2300.0   │
│ 221 │ 33.5    │ 4         │ 85.0         │ 70.00      │ 1945.0   │
│ 222 │ 17.5    │ 8         │ 305.0        │ 145.0      │ 3880.0   │
│ 223 │ 17.0    │ 8         │ 260.0        │ 110.0      │ 4060.0   │
│ 224 │ 15.5    │ 8         │ 318.0        │ 145.0      │ 4140.0   │
│ 225 │ 15.0    │ 8         │ 302.0        │ 130.0      │ 4295.0   │
│ 226 │ 17.5    │ 6         │ 250.0        │ 110.0      │ 3520.0   │
│ 227 │ 20.5    │ 6         │ 231.0        │ 105.0      │ 3425.0   │
│ 228 │ 19.0    │ 6         │ 225.0        │ 100.0      │ 3630.0   │
│ 229 │ 18.5    │ 6         │ 250.0        │ 98.00      │ 3525.0   │
│ 230 │ 16.0    │ 8         │ 400.0        │ 180.0      │ 4220.0   │
│ 231 │ 15.5    │ 8         │ 350.0        │ 170.0      │ 4165.0   │
│ 232 │ 15.5    │ 8         │ 400.0        │ 190.0      │ 4325.0   │
│ 233 │ 16.0    │ 8         │ 351.0        │ 149.0      │ 4335.0   │
│ 234 │ 29.0    │ 4         │ 97.0         │ 78.00      │ 1940.0   │
│ 235 │ 24.5    │ 4         │ 151.0        │ 88.00      │ 2740.0   │
│ 236 │ 26.0    │ 4         │ 97.0         │ 75.00      │ 2265.0   │
│ 237 │ 25.5    │ 4         │ 140.0        │ 89.00      │ 2755.0   │
│ 238 │ 30.5    │ 4         │ 98.0         │ 63.00      │ 2051.0   │
│ 239 │ 33.5    │ 4         │ 98.0         │ 83.00      │ 2075.0   │
│ 240 │ 30.0    │ 4         │ 97.0         │ 67.00      │ 1985.0   │
│ 241 │ 30.5    │ 4         │ 97.0         │ 78.00      │ 2190.0   │
│ 242 │ 22.0    │ 6         │ 146.0        │ 97.00      │ 2815.0   │
│ 243 │ 21.5    │ 4         │ 121.0        │ 110.0      │ 2600.0   │
│ 244 │ 21.5    │ 3         │ 80.0         │ 110.0      │ 2720.0   │
│ 245 │ 43.1    │ 4         │ 90.0         │ 48.00      │ 1985.0   │
│ 246 │ 36.1    │ 4         │ 98.0         │ 66.00      │ 1800.0   │
│ 247 │ 32.8    │ 4         │ 78.0         │ 52.00      │ 1985.0   │
│ 248 │ 39.4    │ 4         │ 85.0         │ 70.00      │ 2070.0   │
│ 249 │ 36.1    │ 4         │ 91.0         │ 60.00      │ 1800.0   │
│ 250 │ 19.9    │ 8         │ 260.0        │ 110.0      │ 3365.0   │
│ 251 │ 19.4    │ 8         │ 318.0        │ 140.0      │ 3735.0   │
│ 252 │ 20.2    │ 8         │ 302.0        │ 139.0      │ 3570.0   │
│ 253 │ 19.2    │ 6         │ 231.0        │ 105.0      │ 3535.0   │
│ 254 │ 20.5    │ 6         │ 200.0        │ 95.00      │ 3155.0   │
│ 255 │ 20.2    │ 6         │ 200.0        │ 85.00      │ 2965.0   │
│ 256 │ 25.1    │ 4         │ 140.0        │ 88.00      │ 2720.0   │
│ 257 │ 20.5    │ 6         │ 225.0        │ 100.0      │ 3430.0   │
│ 258 │ 19.4    │ 6         │ 232.0        │ 90.00      │ 3210.0   │
│ 259 │ 20.6    │ 6         │ 231.0        │ 105.0      │ 3380.0   │
│ 260 │ 20.8    │ 6         │ 200.0        │ 85.00      │ 3070.0   │
│ 261 │ 18.6    │ 6         │ 225.0        │ 110.0      │ 3620.0   │
│ 262 │ 18.1    │ 6         │ 258.0        │ 120.0      │ 3410.0   │
│ 263 │ 19.2    │ 8         │ 305.0        │ 145.0      │ 3425.0   │
│ 264 │ 17.7    │ 6         │ 231.0        │ 165.0      │ 3445.0   │
│ 265 │ 18.1    │ 8         │ 302.0        │ 139.0      │ 3205.0   │
│ 266 │ 17.5    │ 8         │ 318.0        │ 140.0      │ 4080.0   │
│ 267 │ 30.0    │ 4         │ 98.0         │ 68.00      │ 2155.0   │
│ 268 │ 27.5    │ 4         │ 134.0        │ 95.00      │ 2560.0   │
│ 269 │ 27.2    │ 4         │ 119.0        │ 97.00      │ 2300.0   │
│ 270 │ 30.9    │ 4         │ 105.0        │ 75.00      │ 2230.0   │
│ 271 │ 21.1    │ 4         │ 134.0        │ 95.00      │ 2515.0   │
│ 272 │ 23.2    │ 4         │ 156.0        │ 105.0      │ 2745.0   │
│ 273 │ 23.8    │ 4         │ 151.0        │ 85.00      │ 2855.0   │
│ 274 │ 23.9    │ 4         │ 119.0        │ 97.00      │ 2405.0   │
│ 275 │ 20.3    │ 5         │ 131.0        │ 103.0      │ 2830.0   │
│ 276 │ 17.0    │ 6         │ 163.0        │ 125.0      │ 3140.0   │
│ 277 │ 21.6    │ 4         │ 121.0        │ 115.0      │ 2795.0   │
│ 278 │ 16.2    │ 6         │ 163.0        │ 133.0      │ 3410.0   │
│ 279 │ 31.5    │ 4         │ 89.0         │ 71.00      │ 1990.0   │
│ 280 │ 29.5    │ 4         │ 98.0         │ 68.00      │ 2135.0   │
│ 281 │ 21.5    │ 6         │ 231.0        │ 115.0      │ 3245.0   │
│ 282 │ 19.8    │ 6         │ 200.0        │ 85.00      │ 2990.0   │
│ 283 │ 22.3    │ 4         │ 140.0        │ 88.00      │ 2890.0   │
│ 284 │ 20.2    │ 6         │ 232.0        │ 90.00      │ 3265.0   │
│ 285 │ 20.6    │ 6         │ 225.0        │ 110.0      │ 3360.0   │
│ 286 │ 17.0    │ 8         │ 305.0        │ 130.0      │ 3840.0   │

`first()` 和 `last()` 函式用來顯示 DataFrame 中的前 n 筆或後 n 筆的資料

In [140]:
first(df, 5)

5×9 DataFrame. Omitted printing of 4 columns
│ Row │ mpg     │ cylinders │ displacement │ horsepower │ weight   │
│     │ Float64 │ Int64⍰    │ Float64      │ String     │ Float64⍰ │
├─────┼─────────┼───────────┼──────────────┼────────────┼──────────┤
│ 1   │ 18.0    │ 8         │ 307.0        │ 130.0      │ 3504.0   │
│ 2   │ 15.0    │ 8         │ 350.0        │ 165.0      │ 3693.0   │
│ 3   │ 18.0    │ 8         │ 318.0        │ 150.0      │ 3436.0   │
│ 4   │ 16.0    │ 8         │ 304.0        │ 150.0      │ 3433.0   │
│ 5   │ 17.0    │ 8         │ 302.0        │ 140.0      │ 3449.0   │

### 3.2 DataFrame 子集

要查看 DataFrame 子集, 可以使用 `df[<row index>, <column index>]`

In [141]:
df[1:5, :]

5×9 DataFrame. Omitted printing of 4 columns
│ Row │ mpg     │ cylinders │ displacement │ horsepower │ weight   │
│     │ Float64 │ Int64⍰    │ Float64      │ String     │ Float64⍰ │
├─────┼─────────┼───────────┼──────────────┼────────────┼──────────┤
│ 1   │ 18.0    │ 8         │ 307.0        │ 130.0      │ 3504.0   │
│ 2   │ 15.0    │ 8         │ 350.0        │ 165.0      │ 3693.0   │
│ 3   │ 18.0    │ 8         │ 318.0        │ 150.0      │ 3436.0   │
│ 4   │ 16.0    │ 8         │ 304.0        │ 150.0      │ 3433.0   │
│ 5   │ 17.0    │ 8         │ 302.0        │ 140.0      │ 3449.0   │

In [142]:
# 如前述, 顯示所有 column
show(df[1:5, :], allcols=true)

5×9 DataFrame
│ Row │ mpg     │ cylinders │ displacement │ horsepower │ weight   │
│     │ Float64 │ Int64⍰    │ Float64      │ String     │ Float64⍰ │
├─────┼─────────┼───────────┼──────────────┼────────────┼──────────┤
│ 1   │ 18.0    │ 8         │ 307.0        │ 130.0      │ 3504.0   │
│ 2   │ 15.0    │ 8         │ 350.0        │ 165.0      │ 3693.0   │
│ 3   │ 18.0    │ 8         │ 318.0        │ 150.0      │ 3436.0   │
│ 4   │ 16.0    │ 8         │ 304.0        │ 150.0      │ 3433.0   │
│ 5   │ 17.0    │ 8         │ 302.0        │ 140.0      │ 3449.0   │

│ Row │ acceleration │ model year │ origin  │ car name                  │
│     │ Float64⍰     │ Float64    │ Float64 │ String                    │
├─────┼──────────────┼────────────┼─────────┼───────────────────────────┤
│ 1   │ 12.0         │ 70.0       │ 1.0     │ chevrolet chevelle malibu │
│ 2   │ 11.5         │ 70.0       │ 1.0     │ buick skylark 320         │
│ 3   │ 11.0         │ 70.0       │ 1.0     │ plymouth satellite        │
│ 4   │ 12.0         │ 70.0       │ 1.0     │ amc rebel sst             │
│ 5   │ 10.5         │ 70.0       │ 1.0     │ ford torino               │

In [143]:
# 可以指定特定要查看的 row / column
df[[1, 3, 5], [1, 2, 9]]

3×3 DataFrame
│ Row │ mpg     │ cylinders │ car name                  │
│     │ Float64 │ Int64⍰    │ String                    │
├─────┼─────────┼───────────┼───────────────────────────┤
│ 1   │ 18.0    │ 8         │ chevrolet chevelle malibu │
│ 2   │ 18.0    │ 8         │ plymouth satellite        │
│ 3   │ 17.0    │ 8         │ ford torino               │

指定 column 可以使用 index, 也可以使用 column 名稱, 使用的方式為 ":" 加上 column 名稱. 示範如下:

In [144]:
df[1:5, [:mpg, :displacement, :horsepower]]

5×3 DataFrame
│ Row │ mpg     │ displacement │ horsepower │
│     │ Float64 │ Float64      │ String     │
├─────┼─────────┼──────────────┼────────────┤
│ 1   │ 18.0    │ 307.0        │ 130.0      │
│ 2   │ 15.0    │ 350.0        │ 165.0      │
│ 3   │ 18.0    │ 318.0        │ 150.0      │
│ 4   │ 16.0    │ 304.0        │ 150.0      │
│ 5   │ 17.0    │ 302.0        │ 140.0      │

### 3.3 `select()` 及 `select!()`

如果要篩選 DataFrame 中的 column, 可以使用 `select()` 和 `select!()` 函式. 兩者不同之處在於, `select()` 不會變更原 DataFrame 而會傳回傳變更後的 DataFrame, 而 `select!()`會變更原 DataFrame.

In [29]:
select(df2, 1:3)

398×3 DataFrame
│ Row │ mpg     │ cylinders │ displacement │
│     │ Float64 │ Int64⍰    │ Float64      │
├─────┼─────────┼───────────┼──────────────┤
│ 1   │ 18.0    │ 8         │ 307.0        │
│ 2   │ 15.0    │ 8         │ 350.0        │
│ 3   │ 18.0    │ 8         │ 318.0        │
│ 4   │ 16.0    │ 8         │ 304.0        │
│ 5   │ 17.0    │ 8         │ 302.0        │
│ 6   │ 15.0    │ 8         │ 429.0        │
│ 7   │ 14.0    │ 8         │ 454.0        │
│ 8   │ 14.0    │ 8         │ 440.0        │
│ 9   │ 14.0    │ 8         │ 455.0        │
│ 10  │ 15.0    │ 8         │ 390.0        │
⋮
│ 388 │ 38.0    │ 6         │ 262.0        │
│ 389 │ 26.0    │ 4         │ 156.0        │
│ 390 │ 22.0    │ 6         │ 232.0        │
│ 391 │ 32.0    │ 4         │ 144.0        │
│ 392 │ 36.0    │ 4         │ 135.0        │
│ 393 │ 27.0    │ 4         │ 151.0        │
│ 394 │ 27.0    │ 4         │ 140.0        │
│ 395 │ 44.0    │ 4         │ 97.0         │
│ 396 │ 32.0    │ 4         │ 135.0        │
│ 397 │ 28.0    │ 4         │ 120.0        │
│ 398 │ 31.0    │ 4         │ 119.0        │

In [30]:
# df2 未改變
size(df2)

(398, 9)

In [31]:
# 呼叫 select!() 後 df2 被變更, 僅剩下被篩選的 3 個 column
select!(df2, 1:3)
size(df2)

(398, 3)

### 3.4 行 (column) 的操作

#### Aggregate

`aggregate` 函式可以套用到 column 中的每一個值, 例如如果要計算及找出汽車油耗 (mpg) 與排氣量 (displacement) 的平均數和中位數, 可以透過下列的示範來達成. 計算平均數和中位數時, 我們運用 Statistics 模組的 `mean` 及 `median` 函式來計算.

In [165]:
df3 = CSV.read("a_D17.csv")
df3 = df[1:6,:]

6×9 DataFrame. Omitted printing of 4 columns
│ Row │ mpg     │ cylinders │ displacement │ horsepower │ weight   │
│     │ Float64 │ Int64⍰    │ Float64      │ String     │ Float64⍰ │
├─────┼─────────┼───────────┼──────────────┼────────────┼──────────┤
│ 1   │ 18.0    │ 8         │ 307.0        │ 130.0      │ 3504.0   │
│ 2   │ 15.0    │ 8         │ 350.0        │ 165.0      │ 3693.0   │
│ 3   │ 18.0    │ 8         │ 318.0        │ 150.0      │ 3436.0   │
│ 4   │ 16.0    │ 8         │ 304.0        │ 150.0      │ 3433.0   │
│ 5   │ 17.0    │ 8         │ 302.0        │ 140.0      │ 3449.0   │
│ 6   │ 15.0    │ 8         │ 429.0        │ 198.0      │ 4341.0   │

In [166]:
df3 = df[1:5, [:mpg, :displacement, :weight]]

5×3 DataFrame
│ Row │ mpg     │ displacement │ weight   │
│     │ Float64 │ Float64      │ Float64⍰ │
├─────┼─────────┼──────────────┼──────────┤
│ 1   │ 18.0    │ 307.0        │ 3504.0   │
│ 2   │ 15.0    │ 350.0        │ 3693.0   │
│ 3   │ 18.0    │ 318.0        │ 3436.0   │
│ 4   │ 16.0    │ 304.0        │ 3433.0   │
│ 5   │ 17.0    │ 302.0        │ 3449.0   │

In [148]:
using Statistics

In [167]:
aggregate(df3, [mean, median])

1×6 DataFrame. Omitted printing of 2 columns
│ Row │ mpg_mean │ displacement_mean │ weight_mean │ mpg_median │
│     │ Float64  │ Float64           │ Float64     │ Float64    │
├─────┼──────────┼───────────────────┼─────────────┼────────────┤
│ 1   │ 16.8     │ 316.2             │ 3503.0      │ 17.0       │

In [170]:
x2 = x -> x*2
aggregate(df3,[:mpg,:weight], x2)

5×3 DataFrame
│ Row │ mpg     │ weight   │ displacement_function │
│     │ Float64 │ Float64⍰ │ Float64               │
├─────┼─────────┼──────────┼───────────────────────┤
│ 1   │ 18.0    │ 3504.0   │ 614.0                 │
│ 2   │ 15.0    │ 3693.0   │ 700.0                 │
│ 3   │ 18.0    │ 3436.0   │ 636.0                 │
│ 4   │ 16.0    │ 3433.0   │ 608.0                 │
│ 5   │ 17.0    │ 3449.0   │ 604.0                 │

In [172]:
df = DataFrame(a = repeat([1, 2, 3, 4], outer=[2]),
                      b = repeat([2, 1], outer=[4]),
                      c = 1:8)

8×3 DataFrame
│ Row │ a     │ b     │ c     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 1     │
│ 2   │ 2     │ 1     │ 2     │
│ 3   │ 3     │ 2     │ 3     │
│ 4   │ 4     │ 1     │ 4     │
│ 5   │ 1     │ 2     │ 5     │
│ 6   │ 2     │ 1     │ 6     │
│ 7   │ 3     │ 2     │ 7     │
│ 8   │ 4     │ 1     │ 8     │

In [177]:
aggregate(df, :a, sum) # it seems that it sums the rows who's 'a' is the same.

4×3 DataFrame
│ Row │ a     │ b     │ c_sum │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 6     │
│ 2   │ 2     │ 1     │ 8     │
│ 3   │ 3     │ 2     │ 10    │
│ 4   │ 4     │ 1     │ 12    │

#### Sort 簡介

Sorting 在之後的內容會有更詳細的介紹

`sort()` 排序後不會改變原來的 DataFrame

In [34]:
sort(df3)

5×2 DataFrame
│ Row │ mpg     │ displacement │
│     │ Float64 │ Float64      │
├─────┼─────────┼──────────────┤
│ 1   │ 15.0    │ 350.0        │
│ 2   │ 16.0    │ 304.0        │
│ 3   │ 17.0    │ 302.0        │
│ 4   │ 18.0    │ 307.0        │
│ 5   │ 18.0    │ 318.0        │

In [35]:
df3

5×2 DataFrame
│ Row │ mpg     │ displacement │
│     │ Float64 │ Float64      │
├─────┼─────────┼──────────────┤
│ 1   │ 18.0    │ 307.0        │
│ 2   │ 15.0    │ 350.0        │
│ 3   │ 18.0    │ 318.0        │
│ 4   │ 16.0    │ 304.0        │
│ 5   │ 17.0    │ 302.0        │

`sort!()` 排序後會改變原來的 DataFrame

下面範例是依 displacement 反序排序

In [178]:
sort!(df3, :displacement, rev=true)

5×3 DataFrame
│ Row │ mpg     │ displacement │ weight   │
│     │ Float64 │ Float64      │ Float64⍰ │
├─────┼─────────┼──────────────┼──────────┤
│ 1   │ 15.0    │ 350.0        │ 3693.0   │
│ 2   │ 18.0    │ 318.0        │ 3436.0   │
│ 3   │ 18.0    │ 307.0        │ 3504.0   │
│ 4   │ 16.0    │ 304.0        │ 3433.0   │
│ 5   │ 17.0    │ 302.0        │ 3449.0   │

In [37]:
df3

5×2 DataFrame
│ Row │ mpg     │ displacement │
│     │ Float64 │ Float64      │
├─────┼─────────┼──────────────┤
│ 1   │ 15.0    │ 350.0        │
│ 2   │ 18.0    │ 318.0        │
│ 3   │ 18.0    │ 307.0        │
│ 4   │ 16.0    │ 304.0        │
│ 5   │ 17.0    │ 302.0        │

In [180]:
sort(df3, :mpg)

5×3 DataFrame
│ Row │ mpg     │ displacement │ weight   │
│     │ Float64 │ Float64      │ Float64⍰ │
├─────┼─────────┼──────────────┼──────────┤
│ 1   │ 15.0    │ 350.0        │ 3693.0   │
│ 2   │ 16.0    │ 304.0        │ 3433.0   │
│ 3   │ 17.0    │ 302.0        │ 3449.0   │
│ 4   │ 18.0    │ 318.0        │ 3436.0   │
│ 5   │ 18.0    │ 307.0        │ 3504.0   │