# DataFrames.jl 介紹 (二): Joins 與 Split-Apply-Combine Strategy

![](https://juliadata.github.io/DataFrames.jl/stable/assets/logo.png)

DataFrames.jl 官方網站: [https://juliadata.github.io/DataFrames.jl/stable/](https://juliadata.github.io/DataFrames.jl/stable/)

DataFrames.jl GitHub: [https://github.com/JuliaData/DataFrames.jl/blob/master/docs/src/index.md](https://github.com/JuliaData/DataFrames.jl/blob/master/docs/src/index.md)

In [1]:
using Pkg

## 0. 安裝

如果尚未安裝過 DataFrames.jl 的話, 執行 `Pkg.add()` 進行安裝

In [1]:
Pkg.add(PackageSpec(name="DataFrames", version="0.20.2"))

  Updating registry at `~/.julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
 Resolving package versions...
  Updating `~/.julia/environments/v1.2/Project.toml`
 [no changes]
  Updating `~/.julia/environments/v1.2/Manifest.toml`
 [no changes]

DataFrames 安裝的版本

In [3]:
Pkg.installed()["DataFrames"]

┌ Warning: Pkg.installed() is deprecated
└ @ Pkg D:\buildbot\worker\package_win64\build\usr\share\julia\stdlib\v1.4\Pkg\src\Pkg.jl:531

v"0.20.2"

## 1. 建立 DataFrame

In [2]:
using DataFrames

使用 column by column 的方式建立 DataFrame

In [5]:
# 使用建構子建立空的 DataFrame
df1 = DataFrame()

0×0 DataFrame

In [6]:
# 指定各個 column 及其值, 加入到 DataFrame 中
df1.ID = ["001", "002", "003", "005"]
df1.name = ["志明", "志玲", "大雄", "阿文"]

df1

4×2 DataFrame
│ Row │ ID     │ name   │
│     │ String │ String │
├─────┼────────┼────────┤
│ 1   │ 001    │ 志明   │
│ 2   │ 002    │ 志玲   │
│ 3   │ 003    │ 大雄   │
│ 4   │ 005    │ 阿文   │

In [7]:
df2 = DataFrame()

df2.ID = ["001", "002", "003", "006"]
df2.job = ["軟體工程師", "系統架構師", "專案經理", "測試工程師"]

df2

4×2 DataFrame
│ Row │ ID     │ job        │
│     │ String │ String     │
├─────┼────────┼────────────┤
│ 1   │ 001    │ 軟體工程師 │
│ 2   │ 002    │ 系統架構師 │
│ 3   │ 003    │ 專案經理   │
│ 4   │ 006    │ 測試工程師 │

## 2. Join

DataFrames.jl 實作了類似關連式資料庫的 Join 功能, 可進行兩個 DataFrame 之間的 Join, 包含了:
- Inner Join
- Left Join
- Right Join
- Outer Join
- Semi Join
- Anti Join
- Cross Join


下列是各種 Join 的程式範例.

預設的 Join, 結果包含符合條件的資料及所有欄位.

In [12]:
df3 = join(df1, df2, on=:ID) # The default is kind = :inner 
# output a combined dataframe of members whos ID occurs in both df1 and df2

3×3 DataFrame
│ Row │ ID     │ name   │ job        │
│     │ String │ String │ String     │
├─────┼────────┼────────┼────────────┤
│ 1   │ 001    │ 志明   │ 軟體工程師 │
│ 2   │ 002    │ 志玲   │ 系統架構師 │
│ 3   │ 003    │ 大雄   │ 專案經理   │

### Inner Join (default)

結果包含符合條件的資料及所有欄位.

only include rows with keys that **match in both** df1 and df2

In [13]:
join(df1, df2, on = :ID, kind = :inner)

3×3 DataFrame
│ Row │ ID     │ name   │ job        │
│     │ String │ String │ String     │
├─────┼────────┼────────┼────────────┤
│ 1   │ 001    │ 志明   │ 軟體工程師 │
│ 2   │ 002    │ 志玲   │ 系統架構師 │
│ 3   │ 003    │ 大雄   │ 專案經理   │

### Left Join

結果包含 df1 所有資料, 但若未對應到的 df2 欄位值則填入 missing.

In [22]:
print("ID in df1:");[print("$(x),") for x in df1.ID];
join(df1, df2, on = :ID, kind = :left)

ID in df1:001,002,003,005,

4×3 DataFrame
│ Row │ ID     │ name   │ job        │
│     │ String │ String │ String⍰    │
├─────┼────────┼────────┼────────────┤
│ 1   │ 001    │ 志明   │ 軟體工程師 │
│ 2   │ 002    │ 志玲   │ 系統架構師 │
│ 3   │ 003    │ 大雄   │ 專案經理   │
│ 4   │ 005    │ 阿文   │ missing    │

### Right Join

- 結果包含 df2 所有資料, 但若未對應到的 df1 欄位值則填入 missing.
- include all rows from df2

In [23]:
print("ID in df2:");[print("$(x),") for x in df2.ID];
join(df1, df2, on = :ID, kind = :right)

ID in df2:001,002,003,006,

4×3 DataFrame
│ Row │ ID     │ name    │ job        │
│     │ String │ String⍰ │ String     │
├─────┼────────┼─────────┼────────────┤
│ 1   │ 001    │ 志明    │ 軟體工程師 │
│ 2   │ 002    │ 志玲    │ 系統架構師 │
│ 3   │ 003    │ 大雄    │ 專案經理   │
│ 4   │ 006    │ missing │ 測試工程師 │

### Outer Join

- 結果包含 df1 和 df2 所有資料, 未對應到的欄位值則填入 missing.
- include **all rows** from df1 and df2

In [34]:
print("all possible ID in df1 and df2: "); 
[print("$(x),") for x in unique([df1.ID; df2.ID])]
join(df1, df2, on = :ID, kind = :outer)

all possible ID in df1 and df2: 001,002,003,005,006,

5×3 DataFrame
│ Row │ ID     │ name    │ job        │
│     │ String │ String⍰ │ String⍰    │
├─────┼────────┼─────────┼────────────┤
│ 1   │ 001    │ 志明    │ 軟體工程師 │
│ 2   │ 002    │ 志玲    │ 系統架構師 │
│ 3   │ 003    │ 大雄    │ 專案經理   │
│ 4   │ 005    │ 阿文    │ missing    │
│ 5   │ 006    │ missing │ 測試工程師 │

### Semi Join

- 跟 Inner Join 相同, 但是結果僅包含 df1 的欄位.
- return rows of df1 that match with the keys in df2

In [12]:
join(df1, df2, on = :ID, kind = :semi)

3×2 DataFrame
│ Row │ ID     │ name   │
│     │ String │ String │
├─────┼────────┼────────┤
│ 1   │ 001    │ 志明   │
│ 2   │ 002    │ 志玲   │
│ 3   │ 003    │ 大雄   │

### Anti Join

- 結果包含僅存在於 df1 的資料, 且僅包含 df1 的欄位.
- return rows of df1 that do not match with the keys in df2

In [13]:
join(df1, df2, on = :ID, kind = :anti)

1×2 DataFrame
│ Row │ ID     │ name   │
│     │ String │ String │
├─────┼────────┼────────┤
│ 1   │ 005    │ 阿文   │

### Cross Join

- 可視為 df1 $\times$ df2 的結果, 為 2 個 DataFrame 的乘積.
- Cross Join 也是唯一一個**不需要 key 值**連接的 Join.
- every row of df1 is matched with every row of df2

In [14]:
# makeunique 設為 true, 在 Join 時同名欄位會依序編號顯示在結果中
join(df1, df2, kind = :cross, makeunique = true)

16×4 DataFrame
│ Row │ ID     │ name   │ ID_1   │ job        │
│     │ String │ String │ String │ String     │
├─────┼────────┼────────┼────────┼────────────┤
│ 1   │ 001    │ 志明   │ 001    │ 軟體工程師 │
│ 2   │ 001    │ 志明   │ 002    │ 系統架構師 │
│ 3   │ 001    │ 志明   │ 003    │ 專案經理   │
│ 4   │ 001    │ 志明   │ 006    │ 測試工程師 │
│ 5   │ 002    │ 志玲   │ 001    │ 軟體工程師 │
│ 6   │ 002    │ 志玲   │ 002    │ 系統架構師 │
│ 7   │ 002    │ 志玲   │ 003    │ 專案經理   │
│ 8   │ 002    │ 志玲   │ 006    │ 測試工程師 │
│ 9   │ 003    │ 大雄   │ 001    │ 軟體工程師 │
│ 10  │ 003    │ 大雄   │ 002    │ 系統架構師 │
│ 11  │ 003    │ 大雄   │ 003    │ 專案經理   │
│ 12  │ 003    │ 大雄   │ 006    │ 測試工程師 │
│ 13  │ 005    │ 阿文   │ 001    │ 軟體工程師 │
│ 14  │ 005    │ 阿文   │ 002    │ 系統架構師 │
│ 15  │ 005    │ 阿文   │ 003    │ 專案經理   │
│ 16  │ 005    │ 阿文   │ 006    │ 測試工程師 │

### Join 連接的 Key 值欄位名稱不一樣的話

In [15]:
df3 = DataFrame()

df3.IDnew = ["001", "002", "003"]
df3.city = ["台北市", "新竹市", "台中市"]

df3

3×2 DataFrame
│ Row │ IDnew  │ city   │
│     │ String │ String │
├─────┼────────┼────────┤
│ 1   │ 001    │ 台北市 │
│ 2   │ 002    │ 新竹市 │
│ 3   │ 003    │ 台中市 │

在 on 參數指定要連結的 Key 欄位名稱.

In [16]:
join(df1, df3, on = :ID => :IDnew)

3×3 DataFrame
│ Row │ ID     │ name   │ city   │
│     │ String │ String │ String │
├─────┼────────┼────────┼────────┤
│ 1   │ 001    │ 志明   │ 台北市 │
│ 2   │ 002    │ 志玲   │ 新竹市 │
│ 3   │ 003    │ 大雄   │ 台中市 │

### Indicator

使用 `indicator` 參數會在結果中加入一個 column 顯示資料是存在於 `left_only`, `right_only`, 或是 `both`
- `indicator = :column_name`

In [17]:
join(df1, df2, on = :ID, kind = :outer, indicator = :source)

5×4 DataFrame
│ Row │ ID     │ name    │ job        │ source       │
│     │ String │ String⍰ │ String⍰    │ Categorical… │
├─────┼────────┼─────────┼────────────┼──────────────┤
│ 1   │ 001    │ 志明    │ 軟體工程師 │ both         │
│ 2   │ 002    │ 志玲    │ 系統架構師 │ both         │
│ 3   │ 003    │ 大雄    │ 專案經理   │ both         │
│ 4   │ 005    │ 阿文    │ missing    │ left_only    │
│ 5   │ 006    │ missing │ 測試工程師 │ right_only   │

### Validate

- 若要檢核要連接的 Key 值是否有重複, 可以使用 `validate` 參數, `validate` 的值可以為 tuple 或是 pair, 檢核 left 或是 right 資料來源.
- In order to check that columns passed as the on argument define unique keys (according to isequal) in each input data frame you can set the validate keyword argument to a two-element tuple or a pair of Bool values, with each element indicating whether to run check for the corresponding data frame.
    - with the first element indicating whether to run check for df1 and the second element for df2.

下面的例子示範在 right 資料來源有重複的情況, 產生並提示錯誤訊息.

In [7]:
df4 = DataFrame()
df4.ID = ["001", "002", "003", "003", "006"]
df4.job = ["軟體工程師", "系統架構師", "專案經理", "測試工程師", missing]
df5 = DataFrame()
df5.ID = ["001", "002", "003", "006"]
df5.name = ["志明", "志玲", "大雄", "阿文"];

In [8]:
join(df4, df5, on = :ID, kind = :outer, indicator = :source, validate = (true, true))

ArgumentError: ArgumentError: Merge key(s) in df1 are not unique. First duplicate at row 4

In [10]:
join(df4, df5, on = :ID, kind = :outer, indicator = :source, validate = (false, true)) # validate df2 only

5×4 DataFrame
│ Row │ ID      │ job        │ name    │ source       │
│     │ String⍰ │ String⍰    │ String⍰ │ Categorical… │
├─────┼─────────┼────────────┼─────────┼──────────────┤
│ 1   │ 001     │ 軟體工程師 │ 志明    │ both         │
│ 2   │ 002     │ 系統架構師 │ 志玲    │ both         │
│ 3   │ 003     │ 專案經理   │ 大雄    │ both         │
│ 4   │ 003     │ 測試工程師 │ 大雄    │ both         │
│ 5   │ 006     │ missing    │ 阿文    │ both         │

## 3. The Split-Apply-Combine Strategy

DataFrames.jl 以 `by()` 函式來實作 Split-Apply-Combine 策略 (大陸有人譯做 "化整為零策略"), `by()` 函式的動作包含了 groupby、map、combine, 依行 (column) 或列 (row) 進行資料處理; 或將資料分組之後, 進行獨立的操作; 然後將處理完成的片段進行組合.

In [11]:
using CSV, Statistics

In [12]:
df = CSV.read("iris.csv", categorical=true)
first(df, 5)

5×5 DataFrame
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Class       │
│     │ Float64     │ Float64    │ Float64     │ Float64    │ String      │
├─────┼─────────────┼────────────┼─────────────┼────────────┼─────────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ Iris-setosa │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ Iris-setosa │
│ 3   │ 4.7         │ 3.2        │ 1.3         │ 0.2        │ Iris-setosa │
│ 4   │ 4.6         │ 3.1        │ 1.5         │ 0.2        │ Iris-setosa │
│ 5   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ Iris-setosa │

### 使用 "column => function" pair
- `by()`
    - 下面範例是根據 Class 欄位, 產生各類別的花瓣長度平均值. 產生的欄位名稱會自動生成.
    - Split-apply-combine in one step: apply f to each grouping in df based on grouping columns keys, and return a DataFrame.
    -  `by(d, cols, f)` is equivalent to `combine(f, groupby(d, cols))` and to the less efficient `combine(map(f, groupby(d, cols)))`.

In [23]:
by(df, :Class, :PetalLength => mean)
# group df by column 'Class', and mean over :PetalLength in each class.

3×2 DataFrame
│ Row │ Class           │ PetalLength_mean │
│     │ String          │ Float64          │
├─────┼─────────────────┼──────────────────┤
│ 1   │ Iris-setosa     │ 1.464            │
│ 2   │ Iris-versicolor │ 4.26             │
│ 3   │ Iris-virginica  │ 5.552            │

In [27]:
by(df, :Class, MeanPetalLength = :PetalLength => mean, SumPetalWidth = :PetalWidth => sum)

3×3 DataFrame
│ Row │ Class           │ MeanPetalLength │ SumPetalWidth │
│     │ String          │ Float64         │ Float64       │
├─────┼─────────────────┼─────────────────┼───────────────┤
│ 1   │ Iris-setosa     │ 1.464           │ 12.2          │
│ 2   │ Iris-versicolor │ 4.26            │ 66.3          │
│ 3   │ Iris-virginica  │ 5.552           │ 101.3         │

欄位名稱也可以用欄位 index 代替.

In [23]:
by(df, 5, 3 => mean)

3×2 DataFrame
│ Row │ Class           │ PetalLength_mean │
│     │ String          │ Float64          │
├─────┼─────────────────┼──────────────────┤
│ 1   │ Iris-setosa     │ 1.464            │
│ 2   │ Iris-versicolor │ 4.26             │
│ 3   │ Iris-virginica  │ 5.552            │

可以給予 Pair 名稱, 做為產生的欄位名稱.

下面的範例是將各 Class 的資料數命名為 `count`

In [24]:
by(df, :Class, count = :Class => length)

3×2 DataFrame
│ Row │ Class           │ count │
│     │ String          │ Int64 │
├─────┼─────────────────┼───────┤
│ 1   │ Iris-setosa     │ 50    │
│ 2   │ Iris-versicolor │ 50    │
│ 3   │ Iris-virginica  │ 50    │

### 使用 "column => function" pair 的 Tuple 或 Vector

透過 `by()` 函式進行 groupby 時, "column => function" pair 可以有多組; 多組的 pair 也可以傳入 tuple 或 vector 類型, 如下面範例.

In [25]:
by(df, :Class, count = :Class => length, PetalLength_mean = :PetalLength => mean)

3×3 DataFrame
│ Row │ Class           │ count │ PetalLength_mean │
│     │ String          │ Int64 │ Float64          │
├─────┼─────────────────┼───────┼──────────────────┤
│ 1   │ Iris-setosa     │ 50    │ 1.464            │
│ 2   │ Iris-versicolor │ 50    │ 4.26             │
│ 3   │ Iris-virginica  │ 50    │ 5.552            │

使用 Tuple.

In [26]:
by(df, :Class, (:Class => length, :PetalLength => mean))

3×3 DataFrame
│ Row │ Class           │ Class_length │ PetalLength_mean │
│     │ String          │ Int64        │ Float64          │
├─────┼─────────────────┼──────────────┼──────────────────┤
│ 1   │ Iris-setosa     │ 50           │ 1.464            │
│ 2   │ Iris-versicolor │ 50           │ 4.26             │
│ 3   │ Iris-virginica  │ 50           │ 5.552            │

使用 vector.

In [27]:
by(df, :Class, [:Class => length, :PetalLength => mean])

3×3 DataFrame
│ Row │ Class           │ Class_length │ PetalLength_mean │
│     │ String          │ Int64        │ Float64          │
├─────┼─────────────────┼──────────────┼──────────────────┤
│ 1   │ Iris-setosa     │ 50           │ 1.464            │
│ 2   │ Iris-versicolor │ 50           │ 4.26             │
│ 3   │ Iris-virginica  │ 50           │ 5.552            │

It is ok to use **regular expression** for the name of columns to be grouped

In [33]:
groupby(df, r"Petal.*")

GroupedDataFrame with 102 groups based on keys: PetalLength, PetalWidth
First Group (8 rows): PetalLength = 1.4, PetalWidth = 0.2
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Class       │
│     │ Float64     │ Float64    │ Float64     │ Float64    │ String      │
├─────┼─────────────┼────────────┼─────────────┼────────────┼─────────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ Iris-setosa │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ Iris-setosa │
│ 3   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ Iris-setosa │
│ 4   │ 4.4         │ 2.9        │ 1.4         │ 0.2        │ Iris-setosa │
│ 5   │ 5.2         │ 3.4        │ 1.4         │ 0.2        │ Iris-setosa │
│ 6   │ 5.5         │ 4.2        │ 1.4         │ 0.2        │ Iris-setosa │
│ 7   │ 4.6         │ 3.2        │ 1.4         │ 0.2        │ Iris-setosa │
│ 8   │ 5.0         │ 3.3        │ 1.4         │ 0.2        │ Iris-setosa │
⋮
Last Group (1 row): PetalLength = 5.1, PetalWidth = 1.8
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Class          │
│     │ Float64     │ Float64    │ Float64     │ Float64    │ String         │
├─────┼─────────────┼────────────┼─────────────┼────────────┼────────────────┤
│ 1   │ 5.9         │ 3.0        │ 5.1         │ 1.8        │ Iris-virginica │

`filter(function, df::AbstractDataFrame)`
`filter(cols => function, df::AbstractDataFrame)`
- Return a copy of data frame df containing only rows for which function returns true.
- see more in the homework 18

In [90]:
df = CSV.read("04-02-2020.csv");
# show(df[1,:],allcols = true)
names(df)

12-element Array{Symbol,1}:
 :FIPS
 :Admin2
 :Province_State
 :Country_Region
 :Last_Update
 :Lat
 :Long_
 :Confirmed
 :Deaths
 :Recovered
 :Active
 :Combined_Key

In [83]:
df_filtered = filter(row -> row.Country_Region == "US", df);
# filter(:Country_Region => x -> x == "US" , df) # failed

In [84]:
isUS = isequal("US").(df.Country_Region) # alternatively
isequal(df[isUS,:],df_filtered)

true

## Applications of Filter, Combine, Group 
from homework of D18

In [91]:
using DataFrames, CSV

In [96]:
df = CSV.read("04-02-2020.csv")
show(df[1,:],allcols = true)

DataFrameRow
│ Row │ FIPS   │ Admin2    │ Province_State │ Country_Region │
│     │ Int64⍰ │ String⍰   │ String⍰        │ String         │
├─────┼────────┼───────────┼────────────────┼────────────────┤
│ 1   │ 45001  │ Abbeville │ South Carolina │ US             │

│ Row │ Last_Update         │ Lat      │ Long_    │ Confirmed │ Deaths │
│     │ String              │ Float64⍰ │ Float64⍰ │ Int64     │ Int64  │
├─────┼─────────────────────┼──────────┼──────────┼───────────┼────────┤
│ 1   │ 2020-04-02 23:25:27 │ 34.2233  │ -82.4617 │ 6         │ 0      │

│ Row │ Recovered │ Active │ Combined_Key                  │
│     │ Int64     │ Int64  │ String                        │
├─────┼───────────┼────────┼───────────────────────────────┤
│ 1   │ 0         │ 0      │ Abbeville, South Carolina, US │

In [97]:
df_US = filter(x -> x.Country_Region == "US", df);
gp = groupby(df_US,:Province_State);
println("Total $(size(df_US,1)) rows are splitted into $(length(gp)) groups")  # number of groups

Total 2312 rows are splitted into 58 groups

In [98]:
US_summary = by(df_US, :Province_State; totalComfirmed = :Confirmed => sum, totalDeaths = :Deaths => sum, recovered = :Recovered => sum);
show(US_summary,allrows = true)

58×4 DataFrame
│ Row │ Province_State           │ totalComfirmed │ totalDeaths │ recovered │
│     │ Union{Missing, String}   │ Int64          │ Int64       │ Int64     │
├─────┼──────────────────────────┼────────────────┼─────────────┼───────────┤
│ 1   │ South Carolina           │ 1554           │ 31          │ 0         │
│ 2   │ Louisiana                │ 9159           │ 310         │ 0         │
│ 3   │ Virginia                 │ 1706           │ 41          │ 0         │
│ 4   │ Idaho                    │ 776            │ 9           │ 0         │
│ 5   │ Iowa                     │ 614            │ 11          │ 0         │
│ 6   │ Missouri                 │ 1857           │ 22          │ 0         │
│ 7   │ Oklahoma                 │ 881            │ 34          │ 0         │
│ 8   │ Colorado                 │ 3342           │ 80          │ 0         │
│ 9   │ Illinois                 │ 7695           │ 163         │ 0         │
│ 10  │ Indiana                  │ 3038           │ 78          │ 0         │
│ 11  │ Mississippi              │ 1177           │ 26          │ 0         │
│ 12  │ Nebraska                 │ 246            │ 5           │ 0         │
│ 13  │ Pennsylvania             │ 7268           │ 90          │ 0         │
│ 14  │ Washington               │ 6389           │ 271         │ 0         │
│ 15  │ Wisconsin                │ 1748           │ 38          │ 0         │
│ 16  │ Vermont                  │ 338            │ 17          │ 0         │
│ 17  │ Florida                  │ 9008           │ 164         │ 0         │
│ 18  │ North Carolina           │ 1977           │ 21          │ 0         │
│ 19  │ California               │ 10773          │ 238         │ 0         │
│ 20  │ New York                 │ 92506          │ 2373        │ 0         │
│ 21  │ Wyoming                  │ 150            │ 0           │ 0         │
│ 22  │ Michigan                 │ 10791          │ 417         │ 0         │
│ 23  │ Maryland                 │ 2331           │ 36          │ 0         │
│ 24  │ Kentucky                 │ 770            │ 31          │ 0         │
│ 25  │ Ohio                     │ 2901           │ 81          │ 0         │
│ 26  │ Alaska                   │ 143            │ 3           │ 0         │
│ 27  │ Kansas                   │ 553            │ 12          │ 0         │
│ 28  │ Tennessee                │ 2845           │ 36          │ 0         │
│ 29  │ Texas                    │ 5069           │ 77          │ 0         │
│ 30  │ Maine                    │ 376            │ 7           │ 0         │
│ 31  │ Minnesota                │ 742            │ 18          │ 0         │
│ 32  │ Arizona                  │ 1715           │ 32          │ 0         │
│ 33  │ Georgia                  │ 5348           │ 163         │ 0         │
│ 34  │ Arkansas                 │ 643            │ 12          │ 0         │
│ 35  │ New Jersey               │ 25590          │ 537         │ 0         │
│ 36  │ South Dakota             │ 165            │ 2           │ 0         │
│ 37  │ Alabama                  │ 1233           │ 32          │ 0         │
│ 38  │ West Virginia            │ 216            │ 2           │ 0         │
│ 39  │ North Dakota             │ 159            │ 3           │ 0         │
│ 40  │ Massachusetts            │ 8966           │ 154         │ 0         │
│ 41  │ New Hampshire            │ 316            │ 3           │ 0         │
│ 42  │ Oregon                   │ 826            │ 21          │ 0         │
│ 43  │ New Mexico               │ 388            │ 6           │ 0         │
│ 44  │ Utah                     │ 1092           │ 7           │ 0         │
│ 45  │ Rhode Island             │ 657            │ 12          │ 0         │
│ 46  │ Montana                  │ 241            │ 6           │ 0         │
│ 47  │ Nevada                   │ 1463           │ 38          │ 0         │
│ 48  │ District of Columbia     │ 653            │ 12          │ 0         │
│ 49  │ Connecticut              │ 3824           │ 112         │ 0         │
│ 50  │ Hawaii                   │ 256            │ 1           │ 0         │
│ 51  │ Delaware                 │ 393            │ 12          │ 0         │
│ 52  │ Diamond Princess         │ 49             │ 0           │ 0         │
│ 53  │ Grand Princess           │ 103            │ 3           │ 0         │
│ 54  │ Guam                     │ 82             │ 3           │ 0         │
│ 55  │ Northern Mariana Islands │ 6              │ 1           │ 0         │
│ 56  │ Puerto Rico              │ 316            │ 12          │ 0         │
│ 57  │ Recovered                │ 0              │ 0           │ 9001      │
│ 58  │ Virgin Islands           │ 30             │ 0           │ 0         │

In [94]:
# alternatively (from the reference answer)
df_US_grouped = groupby(df[df.Country_Region .== "US", :], :Province_State)
show(combine(df_US_grouped, :Confirmed => sum, :Deaths => sum, :Recovered => sum), allrows=true)

58×4 DataFrame
│ Row │ Province_State           │ Confirmed_sum │ Deaths_sum │ Recovered_sum │
│     │ Union{Missing, String}   │ Int64         │ Int64      │ Int64         │
├─────┼──────────────────────────┼───────────────┼────────────┼───────────────┤
│ 1   │ South Carolina           │ 1554          │ 31         │ 0             │
│ 2   │ Louisiana                │ 9159          │ 310        │ 0             │
│ 3   │ Virginia                 │ 1706          │ 41         │ 0             │
│ 4   │ Idaho                    │ 776           │ 9          │ 0             │
│ 5   │ Iowa                     │ 614           │ 11         │ 0             │
│ 6   │ Missouri                 │ 1857          │ 22         │ 0             │
│ 7   │ Oklahoma                 │ 881           │ 34         │ 0             │
│ 8   │ Colorado                 │ 3342          │ 80         │ 0             │
│ 9   │ Illinois                 │ 7695          │ 163        │ 0             │
│ 10  │ Indiana                  │ 3038          │ 78         │ 0             │
│ 11  │ Mississippi              │ 1177          │ 26         │ 0             │
│ 12  │ Nebraska                 │ 246           │ 5          │ 0             │
│ 13  │ Pennsylvania             │ 7268          │ 90         │ 0             │
│ 14  │ Washington               │ 6389          │ 271        │ 0             │
│ 15  │ Wisconsin                │ 1748          │ 38         │ 0             │
│ 16  │ Vermont                  │ 338           │ 17         │ 0             │
│ 17  │ Florida                  │ 9008          │ 164        │ 0             │
│ 18  │ North Carolina           │ 1977          │ 21         │ 0             │
│ 19  │ California               │ 10773         │ 238        │ 0             │
│ 20  │ New York                 │ 92506         │ 2373       │ 0             │
│ 21  │ Wyoming                  │ 150           │ 0          │ 0             │
│ 22  │ Michigan                 │ 10791         │ 417        │ 0             │
│ 23  │ Maryland                 │ 2331          │ 36         │ 0             │
│ 24  │ Kentucky                 │ 770           │ 31         │ 0             │
│ 25  │ Ohio                     │ 2901          │ 81         │ 0             │
│ 26  │ Alaska                   │ 143           │ 3          │ 0             │
│ 27  │ Kansas                   │ 553           │ 12         │ 0             │
│ 28  │ Tennessee                │ 2845          │ 36         │ 0             │
│ 29  │ Texas                    │ 5069          │ 77         │ 0             │
│ 30  │ Maine                    │ 376           │ 7          │ 0             │
│ 31  │ Minnesota                │ 742           │ 18         │ 0             │
│ 32  │ Arizona                  │ 1715          │ 32         │ 0             │
│ 33  │ Georgia                  │ 5348          │ 163        │ 0             │
│ 34  │ Arkansas                 │ 643           │ 12         │ 0             │
│ 35  │ New Jersey               │ 25590         │ 537        │ 0             │
│ 36  │ South Dakota             │ 165           │ 2          │ 0             │
│ 37  │ Alabama                  │ 1233          │ 32         │ 0             │
│ 38  │ West Virginia            │ 216           │ 2          │ 0             │
│ 39  │ North Dakota             │ 159           │ 3          │ 0             │
│ 40  │ Massachusetts            │ 8966          │ 154        │ 0             │
│ 41  │ New Hampshire            │ 316           │ 3          │ 0             │
│ 42  │ Oregon                   │ 826           │ 21         │ 0             │
│ 43  │ New Mexico               │ 388           │ 6          │ 0             │
│ 44  │ Utah                     │ 1092          │ 7          │ 0             │
│ 45  │ Rhode Island             │ 657           │ 12         │ 0             │
│ 46  │ Montana                  │ 241           │ 6          │ 0             │
│ 47  │ Nevada                   │ 1463          │ 38         │ 0             │
│ 48  │ District of Columbia     │ 653           │ 12         │ 0             │
│ 49  │ Connecticut              │ 3824          │ 112        │ 0             │
│ 50  │ Hawaii                   │ 256           │ 1          │ 0             │
│ 51  │ Delaware                 │ 393           │ 12         │ 0             │
│ 52  │ Diamond Princess         │ 49            │ 0          │ 0             │
│ 53  │ Grand Princess           │ 103           │ 3          │ 0             │
│ 54  │ Guam                     │ 82            │ 3          │ 0             │
│ 55  │ Northern Mariana Islands │ 6             │ 1          │ 0             │
│ 56  │ Puerto Rico              │ 316           │ 12         │ 0             │
│ 57  │ Recovered                │ 0             │ 0          │ 9001          │
│ 58  │ Virgin Islands           │ 30            │ 0          │ 0             │