# 陣列 (Array)

陣列的介紹包含了一維到多維陣列，通常一維陣列也稱為向量 (vector)，二維陣列稱為矩陣 (matrix)。有關於陣列相關的父型別，最主要是由 `AbstractArray`、`AbstractVector`、`AbstractMatrix` 組成，分別可以用來代表 N 維、一維、二維的陣列的抽象型別。

![](AbstractArray.png)

[註1] 在多維陣列提到索引或元素的位置時，我們將採用”直”行(column) ”橫”列(row) 來表示。

[註2] 型別系統將會在後續的內容中進行詳細介紹。

## 1. 陣列的建立

create an empty string array of dimension 1.

In [1]:
Array{String}(undef,0)

0-element Array{String,1}

最簡單的 array 創建方式，用中括號 `[ ]` 包含所有陣列元素 (element)。

In [1]:
A = [1 5 3]

1×3 Array{Int64,2}:
 1  5  3

陣列中的元素可以具備不同的資料型別值。可以讓 Julia 自動識別元素類型而不指定，而 Julia 回傳的型別則會是 `Any`。

In [2]:
A = [1.0 "a string" 3]

1×3 Array{Any,2}:
 1.0  "a string"  3

使用 `fill()` 函式也可以產生陣列。下例是產生一個 2 x 3 的陣列，陣列內的值均為數字 1。

In [3]:
fill(1, (2, 3))

2×3 Array{Int64,2}:
 1  1  1
 1  1  1

`fill(x, dims::Tuple)` OR `fill(x, dims...)`
`fill!(array_A, value_x)`

In [13]:
fill(0,2,3) == fill(0,(2,3))

true

若是要值填入一個既有的陣列，可以使用 `fill!()` 函式。

In [144]:
a = zeros(2, 3)

2×3 Array{Float64,2}:
 0.0  0.0  0.0
 0.0  0.0  0.0

In [146]:
fill!(a, 3)

2×3 Array{Float64,2}:
 3.0  3.0  3.0
 3.0  3.0  3.0

The difference is that Vector is a 1-dimensional Array, so when you write e.g. Vector{Int} it is a shorthand to Array{Int, 1}:

In [147]:
b_64 = Vector{Vector{Float64}}(undef, 3)

3-element Array{Array{Float64,1},1}:
 #undef
 #undef
 #undef

In [148]:
fill!(b_64, [1.1; 1.1; 1.1] )

3-element Array{Array{Float64,1},1}:
 [1.1, 1.1, 1.1]
 [1.1, 1.1, 1.1]
 [1.1, 1.1, 1.1]

In [150]:
fill!(b_64, [1; 1; 1]) # it is ok to fill Int into Float

3-element Array{Array{Float64,1},1}:
 [1.0, 1.0, 1.0]
 [1.0, 1.0, 1.0]
 [1.0, 1.0, 1.0]

some error
-  `fill!([1;2], [1 1])`: Error occurrs because element to be replaced (Int64) is different from element to fill (Array{Int64,1})
- `fill!([1;2], 1.1)`: Error occurrs because element to be replaced (Int64) is different from element to fill (Float64); that is, filling Float64 into Int64
 is NOT OK. However, filling Int64 into Float64 is OK.

In [185]:
fill!([1;1], [1 1]) # because dimension not matched

MethodError: MethodError: Cannot `convert` an object of type Array{Int64,2} to an object of type Int64
Closest candidates are:
  convert(::Type{T}, !Matched::T) where T<:Number at number.jl:6
  convert(::Type{T}, !Matched::Number) where T<:Number at number.jl:7
  convert(::Type{T}, !Matched::Ptr) where T<:Integer at pointer.jl:23
  ...

In [166]:
fill!([1;1], 1.1) # we can't fill Float64 into Int64 (but reverse it is ok)

InexactError: InexactError: Int64(1.1)

In [171]:
fill!(Vector{Vector{Int}}(undef, 3), 1) # also dimension not matched

MethodError: MethodError: Cannot `convert` an object of type Int64 to an object of type Array{Int64,1}
Closest candidates are:
  convert(::Type{T}, !Matched::AbstractArray) where T<:Array at array.jl:533
  convert(::Type{T}, !Matched::T) where T<:AbstractArray at abstractarray.jl:14
  convert(::Type{T}, !Matched::LinearAlgebra.Factorization) where T<:AbstractArray at D:\buildbot\worker\package_win64\build\usr\share\julia\stdlib\v1.4\LinearAlgebra\src\factorization.jl:55
  ...

In [172]:
fill!(Vector{Vector{Int}}(undef, 3), [1]) 
# this is OK, since [1] belongs to Vector{Int}

3-element Array{Array{Int64,1},1}:
 [1]
 [1]
 [1]

**More about fill and fill!**
- fill!(a,b) keeps the type of a
- fill(b,size(a)) creates a new array with Any or auto-detected type (By Zheng Kai)

In [353]:
a = fill!(Vector(undef,2),1)

2-element Array{Any,1}:
 1
 1

In [354]:
b = [1;1] # [[1];[1]] either

2-element Array{Int64,1}:
 1
 1

In [355]:
a == b

true

In [250]:
fill!(a, [1 1])

2-element Array{Any,1}:
 [1 1]
 [1 1]

In [251]:
fill!(b, [1 1])

MethodError: MethodError: Cannot `convert` an object of type Array{Int64,2} to an object of type Int64
Closest candidates are:
  convert(::Type{T}, !Matched::T) where T<:Number at number.jl:6
  convert(::Type{T}, !Matched::Number) where T<:Number at number.jl:7
  convert(::Type{T}, !Matched::Ptr) where T<:Integer at pointer.jl:23
  ...

In [295]:
fill([1 1],size(a))

2-element Array{Array{Int64,2},1}:
 [1 1]
 [1 1]

In [296]:
fill([1 1],size(b))

2-element Array{Array{Int64,2},1}:
 [1 1]
 [1 1]

**fill array with anything**

In [362]:
fill("text1",(2,3))

2×3 Array{String,2}:
 "text1"  "text1"  "text1"
 "text1"  "text1"  "text1"

In [363]:
fill!(a,["text1","text2"])

2-element Array{Any,1}:
 ["text1", "text2"]
 ["text1", "text2"]

In [364]:
a2 = Matrix{Any}(undef, 3, 2)
fill!(a2,["123","sdf"])

3×2 Array{Any,2}:
 ["123", "sdf"]  ["123", "sdf"]
 ["123", "sdf"]  ["123", "sdf"]
 ["123", "sdf"]  ["123", "sdf"]

若要查看陣列的維度，可以使用 `ndims()` 函式回傳陣列的維度數。要注意的是，列陣列的維度也會是 2。

In [75]:
A = [1 5 3]

1×3 Array{Int64,2}:
 1  5  3

In [76]:
ndims(A)

2

行陣列 (或稱行向量) 的維度則會是 1。

In [68]:
A = [1, 5, 3]
ndims(A)

1

在創建行陣列 (或稱行向量) 時可以用逗號或分號換列，但是在創建二維陣列 (矩陣) 時則不能用逗號換列。所以在**創建向量時**建議可以**統一用分號**，就不會混淆了。

**(!) ';' and ',' do matter on concatenating vectors**

In [77]:
[1,2,3] == [1;2;3]

true

In [70]:
A = [1 2; 3 4; 5 6]

3×2 Array{Int64,2}:
 1  2
 3  4
 5  6

用逗號則會產生錯誤。

In [ ]:
A = [1 2, 3 4, 5 6]

LoadError: syntax: unexpected comma in matrix expression

In [398]:
[1,2,2,2] == [1;2;2;2]

true

In [400]:
[1,2;2;2] # error occurred when semicolon and comma are both used in creating 2d array (matrix)

ErrorException: syntax: unexpected semicolon in array expression

**difference between 1d and 2d array**

In [407]:
[1 2] # 2d array

1×2 Array{Int64,2}:
 1  2

In [409]:
[1;2] # (!) This create 1d array
# this is also identical to [1,2]

2-element Array{Int64,1}:
 1
 2

### 向量 (Vector) 與矩陣 (Matrix)

如同一開始所提，向量和矩陣分別是一維和二維的陣列，在 Julia 中也提供了 `Vector` 和 `Matrix` 別名 (alias)。

In [78]:
Vector

Array{T,1} where T

In [79]:
Vector{Float64}(undef, 3)

3-element Array{Float64,1}:
 4.275804334e-315
 4.275804493e-315
 4.27580465e-315

In [176]:
Vector{Vector{Float64}}(undef, 3)

3-element Array{Array{Float64,1},1}:
 #undef
 #undef
 #undef

In [100]:
Matrix

Array{T,2} where T

In [360]:
Matrix{Float64}(undef, 3, 2)

3×2 Array{Float64,2}:
 2.122e-314    6.36599e-314
 2.122e-314    6.36599e-314
 4.24399e-314  1.5e-323

### different approaches to create array

In [252]:
[1 1] == [1;1] # 2D 1by 2 array (left); 1D 2-element array (right)

false

In [253]:
f1 = fill!(Matrix(undef,2,2),1)

2×2 Array{Any,2}:
 1  1
 1  1

In [254]:
f2 = ones(2,2)

2×2 Array{Float64,2}:
 1.0  1.0
 1.0  1.0

In [255]:
f3 = [[1 1];[1 1]]

2×2 Array{Int64,2}:
 1  1
 1  1

In [256]:
f4 = [1 1;1 1]

2×2 Array{Int64,2}:
 1  1
 1  1

In [261]:
f1 == f2 == f3 == f4

true

### Vector contantenation

#### comma and semicolon do the same things when creating a 1d-array of elements.

In [297]:
[1,1] == [1;1] == fill!(Vector(undef,2), 1)

true

#### But comma and semicolon works differently on contantenation.

In [304]:
f5 = fill!(Vector(undef,2), [1, 1])

2-element Array{Any,1}:
 [1, 1]
 [1, 1]

In [312]:
f6c = [fill!(Vector(undef,2),1),fill!(Vector(undef,2),1)]

2-element Array{Array{Any,1},1}:
 [1, 1]
 [1, 1]

In [337]:
f7c = [[1;1],[1;1]] # the same as [[1,1],[1,1]],

2-element Array{Array{Int64,1},1}:
 [1, 1]
 [1, 1]

In [314]:
f6s = [fill!(Vector(undef,2),1);fill!(Vector(undef,2),1)]

4-element Array{Any,1}:
 1
 1
 1
 1

In [338]:
f7s = [[1;1];[1;1]] # the same as [[1,1];[1,1]]

4-element Array{Int64,1}:
 1
 1
 1
 1

In [339]:
f4 != f5 == f6c == f7c != f6s == f7s

true

In [340]:
[Vector(undef,2),Vector(undef,2)]

2-element Array{Array{Any,1},1}:
 [#undef, #undef]
 [#undef, #undef]

In [341]:
Vector(undef,4)

4-element Array{Any,1}:
 #undef
 #undef
 #undef
 #undef

### 指定陣列元素的型別

創建陣列時，可以讓 Julia 自動識別元素型別而不指定。要指定型別的話，在陣列前面加上型別即可。

In [319]:
Float32[1, 2, 3, 4]

4-element Array{Float32,1}:
 1.0
 2.0
 3.0
 4.0

如果指定的類型無法被精確轉型時 (例如欲將浮點轉為整數)，系統會拋出 error。

In [320]:
Int32[1.1 2 3]

InexactError: InexactError: Int32(1.1)

### 常用函式建立並初始化陣列中的元素

下列為常用的函式，可以用來建立陣列並初始化陣列中的元素。

|函式|描述|
|--|--|
|zeros()|陣列元素初始化為 0|
|ones()|陣列元素初始化為 1|
|trues()|陣列元素初始化為 true 的 BitArray 類型|
|falses()|陣列元素初始化為 false 的 BitArray 類型|
|rand()|產生元素為隨機介於 \[0, 1 區間的均勻分布數字|
|randn()|產生元素為隨機常態分布的數字|

In [321]:
zeros((2,3))

2×3 Array{Float64,2}:
 0.0  0.0  0.0
 0.0  0.0  0.0

In [322]:
ones((2,3))

2×3 Array{Float64,2}:
 1.0  1.0  1.0
 1.0  1.0  1.0

In [323]:
trues((2,3))

2×3 BitArray{2}:
 1  1  1
 1  1  1

In [324]:
falses((2,3))

2×3 BitArray{2}:
 0  0  0
 0  0  0

In [325]:
rand(Float32, 3, 2)

3×2 Array{Float32,2}:
 0.204952  0.0273652
 0.5824    0.502131
 0.683241  0.298419

In [326]:
randn(3, 2)

3×2 Array{Float64,2}:
 1.22079   2.19893
 0.404534  1.10186
 0.571348  0.345732

### 使用 `collect()` 函式建立陣列 

使用 `collect()` 函式來建立陣列。在下列範例中並搭配 `reshape()` 函式，改變陣列維度以建立多維陣列。

In [328]:
range1 = 1:2:10

1:2:9

In [329]:
typeof(range1)

StepRange{Int64,Int64}

In [330]:
# 建立一維陣列，起始值為 1，數值間隔 2，結束值 10
collect(1:2:10)

5-element Array{Int64,1}:
 1
 3
 5
 7
 9

In [333]:
# 建立 5x2 陣列 (and assign type Float64)
reshape(collect(Float64,1:1:10), (5, 2))

5×2 Array{Float64,2}:
 1.0   6.0
 2.0   7.0
 3.0   8.0
 4.0   9.0
 5.0  10.0

In [334]:
1:1:10 == 1:10

true

## 2. 陣列的相關操作

### 索引

透過索引取得陣列元素值，有**線性索引**和**笛卡兒索引**兩種方式。

需特別留意的是，Julia 的索引值起始是 1 而非 0，和多數程式語言不同。

In [335]:
A = [1 2 3; 4 5 6; 7 8 9; 10 11 12]

4×3 Array{Int64,2}:
  1   2   3
  4   5   6
  7   8   9
 10  11  12

線性索引的順序如圖，所以在下列範例中 A[7] 會得到 A[3, 2] 的值。

![](scalar_index.png)

In [336]:
# 線性索引，得到 A[3, 2] 的值
A[7]

8

笛卡兒索引是用 `A[<<row index>>, <<column index>>]` 的方式，取得該位置的值。

In [ ]:
# 笛卡兒索引
A[3, 2]

8

索引也可以使用範圍 (range) 來指定。

In [ ]:
A[1, 1:2]

2-element Array{Int64,1}:
 1
 2

使用 `getindex()` 也可以取得該索引位置的值。

In [343]:
B = reshape(9:20,(4,3))

4×3 reshape(::UnitRange{Int64}, 4, 3) with eltype Int64:
  9  13  17
 10  14  18
 11  15  19
 12  16  20

In [345]:
getindex(B, 3, 2) # get the value of B from index 3,2

15

###  遍歷 (Traversal)

In [365]:
# 使用笛卡兒索引將陣列中所有元素印出
A = [1 2 3; 4 5 6; 7 8 9; 10 11 12]

for i = 1:size(A, 1), j = 1:size(A, 2)
    print(A[i, j], " ")
end

1 2 3 4 5 6 7 8 9 10 11 12

In [366]:
# 使用線性索引將陣列中所有元素印出
for i = 1:lastindex(A)
    print(A[i], " ")
end

1 4 7 10 2 5 8 11 3 6 9 12

In [367]:
# 用迭代的方式將陣列中所有元素印出
# 也可以用 in 取代 ∈
for x ∈ A
    print(x, " ")
end

1 4 7 10 2 5 8 11 3 6 9 12

### 加入或剔除陣列的元素 (Push & Pop)

要加入或加入或剔除陣列的元素，可以透過下列函式：

|函式|說明|
|---|---|
|push!()|加入元素到陣列的尾端|
|pushfirst!()|加入元素到陣列成為第一個元素|
|pop!()|將陣列的最後一個元素剔除|
|popfirst!()|將陣列的第一個元素剔除|

以上函式都會直接變更原陣列。

In [370]:
A = collect(1:5)

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [373]:
push!(A, 6)

8-element Array{Int64,1}:
 1
 2
 3
 4
 5
 6
 6
 6

In [376]:
pushfirst!(A, 0)

11-element Array{Int64,1}:
 0
 0
 0
 1
 2
 3
 4
 5
 6
 6
 6

In [379]:
pop!(A)
A

8-element Array{Int64,1}:
 0
 0
 0
 1
 2
 3
 4
 5

In [383]:
popfirst!(A)
A

4-element Array{Int64,1}:
 2
 3
 4
 5

### 陣列的組合

若陣列中含有陣列 (或稱巢狀陣列)，Julia 會自動依維度展開。

In [384]:
[1 2 [3 4]] # noted that it is 2d

1×4 Array{Int64,2}:
 1  2  3  4

In [436]:
[[1 2],[3 4]]

2-element Array{Array{Int64,2},1}:
 [1 2]
 [3 4]

In [437]:
[[1 2];[3 4]]

2×2 Array{Int64,2}:
 1  2
 3  4

In [387]:
[1 2 ;[3 4]]

2×2 Array{Int64,2}:
 1  2
 3  4

巢狀內外陣列維度不相同會產生 error。

In [ ]:
[1; 2 [3; 4]]

DimensionMismatch: DimensionMismatch("mismatch in dimension 1 (expected 1 got 2)")

陣列組合的背後，其實是呼叫了 `cat()`、`vcat()`、`hcat()`、或 `hvcat()` 函式。使用範例如下：

In [416]:
W = [1 2]
X = [3 4]
Z = [5 6]

# 合併陣列為列向量
cat(W, X, Z, dims=2)

1×6 Array{Int64,2}:
 1  2  3  4  5  6

In [417]:
W = [1 2]
X = [3 4]
Z = [5 6]

# 依"行"合併陣列
# 此範例合併陣列為列向量
hcat(W, X, Z)

1×6 Array{Int64,2}:
 1  2  3  4  5  6

In [418]:
# 依"列"合併陣列
# 等同於cat(W, X, Z, dims=1)
vcat(W, X, Z)

3×2 Array{Int64,2}:
 1  2
 3  4
 5  6

In [ ]:
# 依照指定每列的行數合併數值成為陣列
D = hvcat((3, 3), 1, 2, 3, 4, 5, 6)

2×3 Array{Int64,2}:
 1  2  3
 4  5  6

**concatenation of 1d array**

In [428]:
[[1;2],[3;4]] # noted that [1,1] is equivalent to [1;1]

2-element Array{Array{Int64,1},1}:
 [1, 2]
 [3, 4]

In [415]:
[[1;2];[3;4]] # but [[1],[1]] is NOT equivalent to [[1];[1]]

4-element Array{Int64,1}:
 1
 2
 3
 4

In [434]:
[[1],[1]] == [[1];[1]]

false

In [435]:
[1,1] == [1;1]

true

In [421]:
cat([1;2],[3;4],dims=1) # cat two 1d array vertically, output 1d

4-element Array{Int64,1}:
 1
 2
 3
 4

In [427]:
cat([1;2],[3;4],dims=2) # cat two 1d array horizontally, output 2d

2×2 Array{Int64,2}:
 1  3
 2  4

**(!)note the difference**

In [440]:
cat([1;2],[3;4],dims=2) == [[1;2],[3;4]]# the behavior is different from using comma!

false

In [441]:
cat([1;2],[3;4],dims=1) == [[1;2];[3;4]]

true

### 切片(Slicing)和視圖(View)

#### 切片

陣列切片，也就是將陣列中的子陣列擷取出來；使用 `view()` 函式可以產生陣列的視圖，擷取出來的視圖，其型別為 `SubArray`。

在效能表現上，視圖會比切片快很多。

In [442]:
A = reshape(collect(1:15), 3, 5)

3×5 Array{Int64,2}:
 1  4  7  10  13
 2  5  8  11  14
 3  6  9  12  15

In [443]:
# 使用笛卡兒索引切片
A[1, 2]

4

In [444]:
# 使用範圍取得子陣列
A[2, 2:end]

4-element Array{Int64,1}:
  5
  8
 11
 14

使用條件式切片回傳的將會是一維陣列。

In [445]:
A[A .> 8]

7-element Array{Int64,1}:
  9
 10
 11
 12
 13
 14
 15

In [447]:
A .> 8

3×5 BitArray{2}:
 0  0  0  1  1
 0  0  0  1  1
 0  0  1  1  1

In [450]:
A_slice = A[2:3,2:3]

2×2 Array{Int64,2}:
 5  8
 6  9

#### 視圖

In [453]:
A_view = view(A, 2:3, 2:3)

2×2 view(::Array{Int64,2}, 2:3, 2:3) with eltype Int64:
 100  8
   6  9

視圖也可以透過跟陣列一樣的方式進行操作，但是特別要留意的是，視圖中的元素值被改變時，原始陣列對應的元素值也會被改變。

In [454]:
A_view[1, 1] = 100

100

In [455]:
A

3×5 Array{Int64,2}:
 1    4  7  10  13
 2  100  8  11  14
 3    6  9  12  15

## 3. 點運算 (Vectorized Operation)

陣列對點運算的支援提供了很方便的機制，來進行對陣列中元素的處理和操作，而不需要再用遍歷的方式 (例如：迴圈) 來操作陣列。下面的範例是透過點運算，將陣列中的每個元素進行 `round()` (IEEE 754 捨入)、加法、及三次方的語法示範。

### 點運算適用的運算子 (operator)

||運算子|
|---|---|
|一元運算子|-, +|
|二元運算子|-, +, *, /, \\, ^|
|比較運算子|==, !=, ≈ (isapprox), ≉|

In [456]:
[1, 2, 3] .^ 3

3-element Array{Int64,1}:
  1
  8
 27

### Broadcasting

In [458]:
A = [1.1, 2.2, 3.5]
broadcast(+, A, 2)

3-element Array{Float64,1}:
 3.1
 4.2
 5.5

In [465]:
A.+2

3-element Array{Float64,1}:
 3.1
 4.2
 5.5

若不使用 broadcast 與加法的話，下列程式也可以得到相同的結果。

In [466]:
function f(x)
    x += 2
end

map(f, A)

3-element Array{Float64,1}:
 3.1
 4.2
 5.5

## 4. 排序 (Sort)

預設的 Sort 是 QuickSort，排序是以由小到大排序。

`sort()` 在排序後不會改變原來陣列的元素值順序，如果要改變的話，可以呼叫 `sort!()`。

In [467]:
sort([2, 1, 4, 3, 5])

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

若要反序排序 (由大到小)，可以加上 `rev=true` 參數。

In [468]:
sort([2, 1, 4, 3, 5], rev=true)

5-element Array{Int64,1}:
 5
 4
 3
 2
 1

在排序時可以同時進行轉換，例如依據 `abs` 絕對值排序，不過如下面範例所示，`by` 並不會改變原本陣列的元素值，但是排序會依轉換後的值做排序。

如果陣列裡面的元素是其他集合型別，例如是 Tuple、Pair、Dictionary 的話，也可以用 `by` 來指定排序依據。在介紹到其他集合型別時會有更多範例說明。

In [469]:
sort([-2, 1, -4, 3, -5], by=abs, rev=true)

5-element Array{Int64,1}:
 -5
 -4
  3
 -2
  1

In [474]:
function square(x)
    x = x^2
end
sort([-2, 1, -4, 3, -5], by=square, rev=true)

5-element Array{Int64,1}:
 -5
 -4
  3
 -2
  1

In [483]:
v = [(1, "c"), (3, "a"), (2, "b")]
sort(v, by = x -> x[1])

3-element Array{Tuple{Int64,String},1}:
 (1, "c")
 (2, "b")
 (3, "a")

對於多維陣列，排序時必須指定 `dims` 參數，指定排序旳維度，否則會產生錯誤。

In [475]:
A = [2 1 3; 4 5 6; 1 3 5]

3×3 Array{Int64,2}:
 2  1  3
 4  5  6
 1  3  5

下例是指定依照列 (row) 值排序。

In [477]:
sort(A, dims=1)

3×3 Array{Int64,2}:
 1  1  3
 2  3  5
 4  5  6

In [ ]:
sort([2, 1, 4, 3, 5], alg=InsertionSort)

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [485]:
sortslices([7 3 5; -1 6 4; 9 -2 8], dims=1) # Sort rows

3×3 Array{Int64,2}:
 -1   6  4
  7   3  5
  9  -2  8

Julia 內建支援幾種不同的排序演算法：

- InsertionSort
- QuickSort
- PartialQuickSort(k)
- MergeSort

有關於 QuickSort 排序演算法的使用範例如下。首先我們先用 `rand()` 隨機產生 100 個 1 到 500 之間的數字。在範例中也運用 `@time` 巨集來輸出各種不同排序的執行時間進行比較。

對於各種不同排序的詳細說明及比較，請見參考資料：[[演算法] 排序演算法(Sort Algorithm)](http://notepad.yehyeh.net/Content/Algorithm/Sort/Sort.php)

In [486]:
x = rand(1:100, 10)

10-element Array{Int64,1}:
 99
  6
 23
  4
 70
 75
 55
 42
 75
 46

In [487]:
@time s = sort(x; alg=QuickSort)

  0.000005 seconds (1 allocation: 160 bytes)

10-element Array{Int64,1}:
  4
  6
 23
 42
 46
 55
 70
 75
 75
 99

In [488]:
@time s = sort(x)

  0.000005 seconds (1 allocation: 160 bytes)

10-element Array{Int64,1}:
  4
  6
 23
 42
 46
 55
 70
 75
 75
 99

## 5. 搜尋 (Search)

搜尋某值是否存在於陣列中，可以用 `in`，回傳值為 true 或 false。

In [489]:
in(3, [1, 3, 5, 7, 9])

true

In [490]:
3 in [1, 3, 5, 7, 9]

true

In [493]:
for x in ["a", "c", 5, 7, 9]
    print(x)
end

ac579

使用 `findall()` 函式，搜尋並回傳結果值的索引。
- `findall(A)`
- `findall(f::Function, A)`

In [504]:
TF2d = [true false; false true]

2×2 Array{Bool,2}:
 1  0
 0  1

In [505]:
trueind = findall(TF2d)

2-element Array{CartesianIndex{2},1}:
 CartesianIndex(1, 1)
 CartesianIndex(2, 2)

In [507]:
findall(x -> x>3,[-1 7;2 9])

2-element Array{CartesianIndex{2},1}:
 CartesianIndex(1, 2)
 CartesianIndex(2, 2)

In [508]:
findall(iszero,[0 7;2 9])

1-element Array{CartesianIndex{2},1}:
 CartesianIndex(1, 1)

In [511]:
findall(in(1), [5, 3, 2, 1])

1-element Array{Int64,1}:
 4

In [523]:
@time findall(x->in(1,x), [5, 3, 2, 1])

  0.030166 seconds (95.43 k allocations: 4.576 MiB)

1-element Array{Int64,1}:
 4

使用 `findmax()` 及 `findmin()` 函式，回傳找到的最大值或最小值，及其索引值。

In [513]:
findmax([2, 3, 1, 5]) # return (maxvalue, index_of_maxvalue)

(5, 4)

In [514]:
@time findmin([2, 3, 1, 5])

(1, 3)

若是陣列已排序，可以使用 `searchsorted()`, `searchsortedfirst()`, `searchsortedlast()`，取得該值的索引值。

特別注意的是 `searchsorted()` 回傳的是索引值範圍 (range)。

In [537]:
@time searchsorted([1,1, 2, 3, 5], 1) # this is much faster

  0.000001 seconds (1 allocation: 128 bytes)

1:2

In [541]:
searchsorted([1, 1, 3, 3, 5], 2)# if x not in A of searchsorted(A,x), return the place that x should be inserted

3:2

In [542]:
searchsorted([1, 1, 2, 3, 2, 5], 2)# no error occurred if A is not sorted in searchsorted(A,x)

3:3

In [543]:
searchsorted([1, 1, 3, 2, 5], 2)# it behaves as no x in A, of searchsorted(A,x)

3:2

- `searchsorted(A,x)`: Return the range of indices of a which compare as equal to x
- `searchsortedfirst(A,x)`: Return the index of the first value in a greater than or equal to x,
- `searchsortedlast(A,x)`: Return the index of the last value in a less than or equal to x,
- `by=<transform>, lt=<comparison>, rev=false` are available

In [557]:
searchsortedfirst([1, 2, 3, 5, 3], 3) # also no error occurred if A is not sorted

3

In [558]:
searchsortedfirst([5, 3, 2, 1], 1) # no matched. insert at the start (index =1)

1

In [559]:
searchsortedfirst([5, 3, 2, 1], 1, rev=true)

4

In [560]:
searchsortedlast([1, 2, 3, 8 ,9], 8)

4

若要判斷是否已排序，可以透過 `issorted()` 函式，`rev` 參數判斷是由小到大或是由大到小排序。

In [561]:
issorted([5, 3, 2, 1], rev=true)

true

## 6. 陣列常用函式範例

|函式|說明|
|---|---|
|eltype(A)|	陣列A中的元素類型。|
|length(A)|	陣列A中的元素總數，例如 3x2 的陣列其元素總數為 6。|
|ndims(A)	|陣列A的維度數，例如二維陣列維度數為2。|
|size(A)|	陣列A的維度，回傳值是 tuple 類型，例如 3x2 的陣列其回傳值為 (3, 2)。|
|eachindex(A)|	陣列A所有索引值。|
|lastindex(A)|	陣列A最後一個索引值。|
|axes(A)|	陣列A所有維度的有效索引值，回傳值是 tuple 類型。|
|strides(A)|	陣列A各維度在記憶體中的距離(元素數目) ，回傳值是 tuple 類型。|

In [562]:
A = [1 2; 3 4; 5 6]

3×2 Array{Int64,2}:
 1  2
 3  4
 5  6

In [563]:
eltype(A)

Int64

In [564]:
length(A)

6

In [565]:
ndims(A)

2

In [566]:
size(A)

(3, 2)

In [567]:
size(A, 2)

2

In [568]:
axes(A)

(Base.OneTo(3), Base.OneTo(2))

In [569]:
axes(A, 2)

Base.OneTo(2)

In [570]:
eachindex(A)

Base.OneTo(6)

In [571]:
lastindex(A)

6

In [572]:
strides(A)

(1, 3)

In [573]:
stride(A, 2)

3

`permutedims(A::AbstractArray, perm)`
- Permute the dimensions of array `A`. `perm` is a vector specifying a permutation of length `ndims(A)`.

In [1]:
A = reshape(Vector(1:8), (2,2,2))

2×2×2 Array{Int64,3}:
[:, :, 1] =
 1  3
 2  4

[:, :, 2] =
 5  7
 6  8

In [4]:
B = permutedims(A, [3, 2, 1])

2×2×2 Array{Int64,3}:
[:, :, 1] =
 1  3
 5  7

[:, :, 2] =
 2  4
 6  8

In [5]:
B[1,:,:]

2×2 Array{Int64,2}:
 1  2
 3  4

In [6]:
B[2,:,:]

2×2 Array{Int64,2}:
 5  6
 7  8