In [6]:
using DataFrames
df0 = DataFrame(X = randn(10), Y = randn(10), Z = randn(10))

10×3 DataFrame
│ Row │ X          │ Y         │ Z         │
│     │ Float64    │ Float64   │ Float64   │
├─────┼────────────┼───────────┼───────────┤
│ 1   │ 0.389203   │ 2.34689   │ -0.440957 │
│ 2   │ 0.56465    │ -0.221797 │ -1.94105  │
│ 3   │ 0.414717   │ -1.69326  │ -1.10214  │
│ 4   │ -0.853607  │ -0.728896 │ 0.655548  │
│ 5   │ -0.0294756 │ -0.151353 │ 1.41474   │
│ 6   │ 1.80554    │ 0.0292788 │ -0.285455 │
│ 7   │ 1.33699    │ -0.380223 │ 0.328522  │
│ 8   │ 1.1036     │ -0.111131 │ -0.955398 │
│ 9   │ -0.951919  │ -0.155664 │ 0.183512  │
│ 10  │ -0.539093  │ 1.55723   │ 1.08663   │

In [28]:
# model: Z = a*X + b*Y + c
mf = ModelFrame(@formula(Z ~ X + Y), df0)
mm = ModelMatrix(mf)
d = df0.Z; # response
G = mm.m # predictors of constant term (G[:,1]), X (G[:,2]), Y(G[:,3])

10×3 Array{Float64,2}:
 1.0   0.389203    2.34689
 1.0   0.56465    -0.221797
 1.0   0.414717   -1.69326
 1.0  -0.853607   -0.728896
 1.0  -0.0294756  -0.151353
 1.0   1.80554     0.0292788
 1.0   1.33699    -0.380223
 1.0   1.1036     -0.111131
 1.0  -0.951919   -0.155664
 1.0  -0.539093    1.55723

In [49]:
m = G \ d # coefficient (That is "c,a,b" in c + aX + bY)

3-element Array{Float64,1}:
  0.04265593272317243
 -0.4825797328490245
  0.1654418160874117

# Julia 機器學習：GLM 線性迴歸

本範例需要使用到的套件有 GLM、RDatasets、MLDataUtils，請在執行以下範例前先安裝。

```
] add GLM
] add RDatasets
] add MLDataUtils
```

In [50]:
using Pkg
Pkg.add(["GLM","RDatasets","MLDataUtils","Statistics"])

  Resolving package versions...
   Updating `C:\Users\HSI\.julia\environments\v1.4\Project.toml`
 [no changes]
   Updating `C:\Users\HSI\.julia\environments\v1.4\Manifest.toml`
 [no changes]

In [3]:
using GLM
using RDatasets
using MLDataUtils
using Statistics

┌ Info: Precompiling GLM [38e38edf-8417-5370-95a0-9cbb8c7f171a]
└ @ Base loading.jl:1260
┌ Info: Precompiling RDatasets [ce6b1742-4840-55fa-b093-852dadbb1d8b]
└ @ Base loading.jl:1260
┌ Info: Precompiling MLDataUtils [cc2ba9b6-d476-5e6d-8eaf-a92d5412d41d]
└ @ Base loading.jl:1260

## 單純線性迴歸模型示範

## 載入資料

In [4]:
data = RDatasets.dataset("datasets", "longley")

16×8 DataFrame. Omitted printing of 2 columns
│ Row │ Year  │ GNPDeflator │ GNP     │ Unemployed │ ArmedForces │ Population │
│     │ Int64 │ Float64     │ Float64 │ Float64    │ Float64     │ Float64    │
├─────┼───────┼─────────────┼─────────┼────────────┼─────────────┼────────────┤
│ 1   │ 1947  │ 83.0        │ 234.289 │ 235.6      │ 159.0       │ 107.608    │
│ 2   │ 1948  │ 88.5        │ 259.426 │ 232.5      │ 145.6       │ 108.632    │
│ 3   │ 1949  │ 88.2        │ 258.054 │ 368.2      │ 161.6       │ 109.773    │
│ 4   │ 1950  │ 89.5        │ 284.599 │ 335.1      │ 165.0       │ 110.929    │
│ 5   │ 1951  │ 96.2        │ 328.975 │ 209.9      │ 309.9       │ 112.075    │
│ 6   │ 1952  │ 98.1        │ 346.999 │ 193.2      │ 359.4       │ 113.27     │
│ 7   │ 1953  │ 99.0        │ 365.385 │ 187.0      │ 354.7       │ 115.094    │
│ 8   │ 1954  │ 100.0       │ 363.112 │ 357.8      │ 335.0       │ 116.219    │
│ 9   │ 1955  │ 101.2       │ 397.469 │ 290.4      │ 304.8       │ 117.388    │
│ 10  │ 1956  │ 104.6       │ 419.18  │ 282.2      │ 285.7       │ 118.734    │
│ 11  │ 1957  │ 108.4       │ 442.769 │ 293.6      │ 279.8       │ 120.445    │
│ 12  │ 1958  │ 110.8       │ 444.546 │ 468.1      │ 263.7       │ 121.95     │
│ 13  │ 1959  │ 112.6       │ 482.704 │ 381.3      │ 255.2       │ 123.366    │
│ 14  │ 1960  │ 114.2       │ 502.601 │ 393.1      │ 251.4       │ 125.368    │
│ 15  │ 1961  │ 115.7       │ 518.173 │ 480.6      │ 257.2       │ 127.852    │
│ 16  │ 1962  │ 116.9       │ 554.894 │ 400.7      │ 282.7       │ 130.081    │

## 線性迴歸模型

In [35]:
# model:  Employed (response) ~ a*GNP(predictor) + b
model = GLM.lm(@formula(Employed ~ GNP), data)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Array{Float64,1}},GLM.DensePredChol{Float64,LinearAlgebra.Cholesky{Float64,Array{Float64,2}}}},Array{Float64,2}}

Employed ~ 1 + GNP

Coefficients:
──────────────────────────────────────────────────────────────────────────────
               Estimate  Std. Error  t value  Pr(>|t|)   Lower 95%   Upper 95%
──────────────────────────────────────────────────────────────────────────────
(Intercept)  51.8436     0.681372    76.0871    <1e-19  50.3822     53.305
GNP           0.0347523  0.00170571  20.3741    <1e-11   0.0310939   0.0384107
──────────────────────────────────────────────────────────────────────────────

In [36]:
intercept, slope = coef(model) 
# find coefficient (i.e. b,a in Employed = b + a*GNP)

2-element Array{Float64,1}:
 51.84358978188421
  0.03475229434762888

## 預測

In [51]:
new_X = DataFrame(GNP=[300., 400., 500.]) # a new predictor for X

3×1 DataFrame
│ Row │ GNP     │
│     │ Float64 │
├─────┼─────────┤
│ 1   │ 300.0   │
│ 2   │ 400.0   │
│ 3   │ 500.0   │

In [46]:
predict(model, new_X)# model are parameters

3-element Array{Union{Missing, Float64},1}:
 62.269278086172875
 65.74450752093577
 69.21973695569865

## 模型評估

In [47]:
GLM.r2(model) # rsquare of model. higher, fits better.

0.9673737718541232

In [48]:
GLM.adjr2(model)

0.9650433269865606

## 多元線性迴歸模型

## 載入資料

In [52]:
data = RDatasets.dataset("datasets", "mtcars")
first(data, 6)

6×12 DataFrame. Omitted printing of 6 columns
│ Row │ Model             │ MPG     │ Cyl   │ Disp    │ HP    │ DRat    │
│     │ String            │ Float64 │ Int64 │ Float64 │ Int64 │ Float64 │
├─────┼───────────────────┼─────────┼───────┼─────────┼───────┼─────────┤
│ 1   │ Mazda RX4         │ 21.0    │ 6     │ 160.0   │ 110   │ 3.9     │
│ 2   │ Mazda RX4 Wag     │ 21.0    │ 6     │ 160.0   │ 110   │ 3.9     │
│ 3   │ Datsun 710        │ 22.8    │ 4     │ 108.0   │ 93    │ 3.85    │
│ 4   │ Hornet 4 Drive    │ 21.4    │ 6     │ 258.0   │ 110   │ 3.08    │
│ 5   │ Hornet Sportabout │ 18.7    │ 8     │ 360.0   │ 175   │ 3.15    │
│ 6   │ Valiant           │ 18.1    │ 6     │ 225.0   │ 105   │ 2.76    │

## 切分訓練資料及測試資料

- `train, test = splitobs(X, at = 0.7)`: Split data into train/test subsets. at 0.7 means 70% of data are used for training; 30%, for validation.
- `nrow(data)` number of rows

In [54]:
MLDataUtils.shuffleobs(collect(1:10))

10-element view(::Array{Int64,1}, [3, 8, 4, 10, 1, 5, 2, 7, 9, 6]) with eltype Int64:
  3
  8
  4
 10
  1
  5
  2
  7
  9
  6

In [55]:
# using MLDataUtils
indecies = MLDataUtils.shuffleobs(collect(1:nrow(data)))
train_ind, test_ind = MLDataUtils.splitobs(indecies, at = 0.8);

In [56]:
train = data[train_ind, :]
test = data[test_ind, :]

6×12 DataFrame. Omitted printing of 6 columns
│ Row │ Model             │ MPG     │ Cyl   │ Disp    │ HP    │ DRat    │
│     │ String            │ Float64 │ Int64 │ Float64 │ Int64 │ Float64 │
├─────┼───────────────────┼─────────┼───────┼─────────┼───────┼─────────┤
│ 1   │ Valiant           │ 18.1    │ 6     │ 225.0   │ 105   │ 2.76    │
│ 2   │ Hornet Sportabout │ 18.7    │ 8     │ 360.0   │ 175   │ 3.15    │
│ 3   │ Lotus Europa      │ 30.4    │ 4     │ 95.1    │ 113   │ 3.77    │
│ 4   │ Fiat 128          │ 32.4    │ 4     │ 78.7    │ 66    │ 4.08    │
│ 5   │ Merc 450SL        │ 17.3    │ 8     │ 275.8   │ 180   │ 3.07    │
│ 6   │ Honda Civic       │ 30.4    │ 4     │ 75.7    │ 52    │ 4.93    │

## 線性迴歸模型

In [57]:
formula1 = @formula(MPG ~ Cyl + Disp + HP + DRat + WT + QSec + VS + AM + Gear + Carb)
ols = GLM.lm(formula1, train)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Array{Float64,1}},GLM.DensePredChol{Float64,LinearAlgebra.Cholesky{Float64,Array{Float64,2}}}},Array{Float64,2}}

MPG ~ 1 + Cyl + Disp + HP + DRat + WT + QSec + VS + AM + Gear + Carb

Coefficients:
──────────────────────────────────────────────────────────────────────────────────
               Estimate  Std. Error     t value  Pr(>|t|)    Lower 95%   Upper 95%
──────────────────────────────────────────────────────────────────────────────────
(Intercept)  10.2563     19.9573      0.51391      0.6148  -32.2818     52.7943
Cyl          -0.188639    1.08727    -0.173497     0.8646   -2.5061      2.12882
Disp          0.010952    0.0210366   0.520615     0.6102   -0.0338865   0.0557905
HP           -0.0209598   0.0235468  -0.890135     0.3874   -0.0711486   0.029229
DRat          0.782688    2.27135     0.344592     0.7352   -4.05857     5.62395
WT           -3.26929     2.14867    -1.52154      0.1489   -7.84906     1.31049
QSec          0.912095    0.754753    1.20847      0.2456   -0.696623    2.52081
VS           -0.205381    2.24691    -0.0914062    0.9284   -4.99455     4.58379
AM            2.07493     2.15451     0.963066     0.3508   -2.5173      6.66717
Gear          0.539265    1.68668     0.31972      0.7536   -3.05581     4.13434
Carb         -0.0619807   0.926363   -0.0669076    0.9475   -2.03648     1.91252
──────────────────────────────────────────────────────────────────────────────────

## 預測

In [13]:
predict(ols, test)

6-element Array{Union{Missing, Float64},1}:
  8.496598093805257
  9.030992773507528
 18.621382867454177
 18.027041085959784
 30.587331103734062
 26.97025204036086

## 模型評估

In [14]:
GLM.r²(ols)

0.8648482400356198

In [15]:
GLM.adjr²(ols)

0.774747066726033

## 羅吉斯迴歸模型示範

## 載入資料

In [60]:
data = RDatasets.dataset("ISLR", "Default")
first(data, 6)

6×4 DataFrame
│ Row │ Default      │ Student      │ Balance │ Income  │
│     │ Categorical… │ Categorical… │ Float64 │ Float64 │
├─────┼──────────────┼──────────────┼─────────┼─────────┤
│ 1   │ No           │ No           │ 729.526 │ 44361.6 │
│ 2   │ No           │ Yes          │ 817.18  │ 12106.1 │
│ 3   │ No           │ No           │ 1073.55 │ 31767.1 │
│ 4   │ No           │ No           │ 529.251 │ 35704.5 │
│ 5   │ No           │ No           │ 785.656 │ 38463.5 │
│ 6   │ No           │ Yes          │ 919.589 │ 7491.56 │

## 前處理

In [61]:
isyes(x) = x == "Yes" ? 1.0 : 0.0

data[!, :DefaultNum] = isyes.(data[!, :Default])
data[!, :StudentNum] = isyes.(data[!, :Student])
first(data, 6)

6×6 DataFrame. Omitted printing of 1 columns
│ Row │ Default      │ Student      │ Balance │ Income  │ DefaultNum │
│     │ Categorical… │ Categorical… │ Float64 │ Float64 │ Float64    │
├─────┼──────────────┼──────────────┼─────────┼─────────┼────────────┤
│ 1   │ No           │ No           │ 729.526 │ 44361.6 │ 0.0        │
│ 2   │ No           │ Yes          │ 817.18  │ 12106.1 │ 0.0        │
│ 3   │ No           │ No           │ 1073.55 │ 31767.1 │ 0.0        │
│ 4   │ No           │ No           │ 529.251 │ 35704.5 │ 0.0        │
│ 5   │ No           │ No           │ 785.656 │ 38463.5 │ 0.0        │
│ 6   │ No           │ Yes          │ 919.589 │ 7491.56 │ 0.0        │

## 切分訓練資料及測試資料

In [62]:
indecies = MLDataUtils.shuffleobs(collect(1:nrow(data)))
train_ind, test_ind = MLDataUtils.splitobs(indecies, at=0.8);

In [63]:
train = data[train_ind, :]
test = data[test_ind, :]

2000×6 DataFrame. Omitted printing of 1 columns
│ Row  │ Default      │ Student      │ Balance │ Income  │ DefaultNum │
│      │ Categorical… │ Categorical… │ Float64 │ Float64 │ Float64    │
├──────┼──────────────┼──────────────┼─────────┼─────────┼────────────┤
│ 1    │ No           │ No           │ 1175.19 │ 50921.3 │ 0.0        │
│ 2    │ No           │ No           │ 956.151 │ 44086.7 │ 0.0        │
│ 3    │ No           │ Yes          │ 1334.78 │ 20468.4 │ 0.0        │
│ 4    │ No           │ No           │ 217.362 │ 45083.1 │ 0.0        │
│ 5    │ No           │ No           │ 291.409 │ 54408.8 │ 0.0        │
│ 6    │ No           │ Yes          │ 940.435 │ 18939.8 │ 0.0        │
│ 7    │ No           │ No           │ 0.0     │ 22535.5 │ 0.0        │
│ 8    │ No           │ No           │ 560.968 │ 43254.7 │ 0.0        │
│ 9    │ No           │ No           │ 313.805 │ 37720.8 │ 0.0        │
│ 10   │ No           │ Yes          │ 914.108 │ 19053.0 │ 0.0        │
⋮
│ 1990 │ No           │ No           │ 857.069 │ 26655.7 │ 0.0        │
│ 1991 │ No           │ Yes          │ 1188.74 │ 22867.1 │ 0.0        │
│ 1992 │ No           │ No           │ 1092.0  │ 34704.5 │ 0.0        │
│ 1993 │ No           │ No           │ 799.733 │ 45702.4 │ 0.0        │
│ 1994 │ No           │ No           │ 260.619 │ 42125.1 │ 0.0        │
│ 1995 │ No           │ No           │ 380.333 │ 30890.1 │ 0.0        │
│ 1996 │ No           │ No           │ 1272.48 │ 42671.3 │ 0.0        │
│ 1997 │ No           │ No           │ 708.58  │ 21728.8 │ 0.0        │
│ 1998 │ No           │ No           │ 71.5777 │ 61588.3 │ 0.0        │
│ 1999 │ No           │ Yes          │ 1575.24 │ 24469.5 │ 0.0        │
│ 2000 │ No           │ Yes          │ 604.574 │ 16153.4 │ 0.0        │

## 羅吉斯迴歸模型
-  `GLM.glm(formula, data, family, link)`
    - `formula`: uses column symbols from the DataFrame data, for example, if names(data)=[:Y,:X1,:X2], then a valid formula is @formula(Y ~ X1 + X2)
    - `data`: a DataFrame which may contain NA values, any rows with NA values are ignored
    - `family`: chosen from Bernoulli(), Binomial(), Gamma(), Normal(), or Poisson()
    - `link`: chosen from the list below, for example, LogitLink() is a valid link for the Binomial() family
        - `LogitLink` The canonical Link01 for Distributions.Bernoulli and Distributions.Binomial. The inverse link, linkinv, is the c.d.f. of the standard logistic distribution, Distributions.Logistic.
        - [Link Function](https://en.wikipedia.org/wiki/Generalized_linear_model#Link_function): The link function provides the relationship between the linear predictor and the mean of the distribution function.

In [67]:
fm2 = @formula(DefaultNum ~ Balance + Income)
logreg = glm(fm2, train, Binomial(), LogitLink()) # returns coefficients

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Array{Float64,1},Binomial{Float64},LogitLink},GLM.DensePredChol{Float64,LinearAlgebra.Cholesky{Float64,Array{Float64,2}}}},Array{Float64,2}}

DefaultNum ~ 1 + Balance + Income

Coefficients:
───────────────────────────────────────────────────────────────────────────────────────
                 Estimate   Std. Error    z value  Pr(>|z|)     Lower 95%     Upper 95%
───────────────────────────────────────────────────────────────────────────────────────
(Intercept)  -11.8173      0.506825     -23.3163     <1e-99  -12.8106      -10.8239
Balance        0.00572872  0.000262255   21.8441     <1e-99    0.00521471    0.00624273
Income         2.3683e-5   5.68915e-6     4.16284    <1e-4     1.25325e-5    3.48336e-5
───────────────────────────────────────────────────────────────────────────────────────

## 預測

In [68]:
pred = predict(logreg, test)

2000-element Array{Union{Missing, Float64},1}:
 0.02025332786615267
 0.004988314375659067
 0.02446008546984941
 7.451948170719091e-5
 0.00014203150993051528
 0.0025193227765044498
 1.2577684831478206e-5
 0.0005106817315643327
 0.00010876191711802899
 0.002173188747430373
 0.01028214658376935
 0.006716245024597242
 0.0062277760860254055
 ⋮
 0.003448439217167635
 0.0018772086691601722
 0.011365488786673737
 0.008666219584655764
 0.0021215810976834564
 8.901467028217239e-5
 0.00013543382967660803
 0.028831393538162938
 0.0007143475204673329
 4.779042387231051e-5
 0.09852874417078895
 0.00034511537218687773

## 模型評估

In [69]:
error(x, y) = ((x > 0.5) ? 1.0 : 0.0) == y
accuracy(xs, ys) = mean(error.(xs, ys))

accuracy (generic function with 1 method)

In [70]:
accuracy(pred, test[!, :DefaultNum])

0.969