# Julia DataFrames.jl 介紹

# Day 017 作業：載入 COVID-19 資料集

今天的作業將使用 `DataFrames.jl` 及 `CSV.jl` 套件，來載入美國約翰霍普金斯大學提供的 COVID-19 資料集 (2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE)。資料集作為教育及研究使用，並且被用來建立視覺化儀表板提供檢視及追蹤 COVID-19 疫情狀況。

資料集 GitHub: [https://github.com/CSSEGISandData/COVID-19](https://github.com/CSSEGISandData/COVID-19)

資料集格式為 CSV，整合不同資料來源，主要分為 Daily Report 及時間序列資料。

請自行下載 2020/4/2 的 daily report資料集：[https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports/04-02-2020.csv](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports/04-02-2020.csv)

Daily Report 主要欄位有：

- Province/State: 省名 (中國)、州名或市名 (美國、加拿大、澳洲)、或是事件名稱 (例如鑽石公主號)...
- Country/Region: 國名或區域名
- Last Update: 最後更新日期/時間，格式為 24 小時制的 UTC 時間
- Confirmed: 確診案例
- Deaths: 死亡案例
- Recovered: 康復案例
- Lat, Long: 經緯度
- Combined Key: 複合 Key 值

In [1]:
using DataFrames, CSV

In [2]:
readdir()

24-element Array{String,1}:
 ".ipynb_checkpoints"
 "05-01-2020.csv"
 "CityCountyData.json"
 "Day_002_hw.ipynb"
 "Day_003_example.ipynb"
 "Day_003_hw.ipynb"
 "Day_004_hw.ipynb"
 "julia_005_hw.ipynb"
 "julia_006_hw.ipynb"
 "julia_007_hw.ipynb"
 "julia_008_hw.ipynb"
 "julia_009_hw.ipynb"
 "julia_010_hw.ipynb"
 "julia_011_hw.ipynb"
 "julia_013_hw.ipynb"
 "julia_014_answer.ipynb"
 "julia_014_hw.ipynb"
 "julia_017_hw.ipynb"
 "julia_018_hw.ipynb"
 "julia_019_hw.ipynb"
 "julia_020_hw.ipynb"
 "julia_15_question.ipynb"
 "old"
 "tongue_twister_count.json"

In [5]:
df = CSV.read("04-02-2020.csv")

2569×12 DataFrame. Omitted printing of 8 columns
│ Row  │ FIPS    │ Admin2     │ Province_State │ Country_Region       │
│      │ Int64⍰  │ String⍰    │ String⍰        │ String               │
├──────┼─────────┼────────────┼────────────────┼──────────────────────┤
│ 1    │ 45001   │ Abbeville  │ South Carolina │ US                   │
│ 2    │ 22001   │ Acadia     │ Louisiana      │ US                   │
│ 3    │ 51001   │ Accomack   │ Virginia       │ US                   │
│ 4    │ 16001   │ Ada        │ Idaho          │ US                   │
│ 5    │ 19001   │ Adair      │ Iowa           │ US                   │
│ 6    │ 29001   │ Adair      │ Missouri       │ US                   │
│ 7    │ 40001   │ Adair      │ Oklahoma       │ US                   │
│ 8    │ 8001    │ Adams      │ Colorado       │ US                   │
│ 9    │ 16003   │ Adams      │ Idaho          │ US                   │
│ 10   │ 17001   │ Adams      │ Illinois       │ US                   │
⋮
│ 2559 │ missing │ missing    │ missing        │ Ukraine              │
│ 2560 │ missing │ missing    │ missing        │ United Arab Emirates │
│ 2561 │ missing │ missing    │ missing        │ United Kingdom       │
│ 2562 │ missing │ missing    │ missing        │ Uruguay              │
│ 2563 │ missing │ missing    │ missing        │ Uzbekistan           │
│ 2564 │ missing │ missing    │ missing        │ Venezuela            │
│ 2565 │ missing │ missing    │ missing        │ Vietnam              │
│ 2566 │ missing │ missing    │ missing        │ West Bank and Gaza   │
│ 2567 │ missing │ missing    │ missing        │ Zambia               │
│ 2568 │ missing │ missing    │ missing        │ Zimbabwe             │
│ 2569 │ missing │ unassigned │ Wyoming        │ US                   │

請問此資料集的筆數 (row) 及欄位數 (column) 各是多少？

In [6]:
# 請在此輸入程式碼
size(df)

(2569, 12)

In [7]:
# 彙總 DataFrame 資訊
describe(df)

12×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable       │ mean     │ min                 │ median   │
│     │ Symbol         │ Union…   │ Any                 │ Union…   │
├─────┼────────────────┼──────────┼─────────────────────┼──────────┤
│ 1   │ FIPS           │ 30958.4  │ 66                  │ 29093.0  │
│ 2   │ Admin2         │          │ Abbeville           │          │
│ 3   │ Province_State │          │ Alabama             │          │
│ 4   │ Country_Region │          │ Afghanistan         │          │
│ 5   │ Last_Update    │          │ 2020-02-23 11:19:02 │          │
│ 6   │ Lat            │ 36.2992  │ -42.8821            │ 37.7171  │
│ 7   │ Long_          │ -78.9577 │ -159.597            │ -86.5104 │
│ 8   │ Confirmed      │ 394.378  │ 0                   │ 7.0      │
│ 9   │ Deaths         │ 20.624   │ 0                   │ 0.0      │
│ 10  │ Recovered      │ 81.8462  │ 0                   │ 0.0      │
│ 11  │ Active         │ 199.29   │ 0                   │ 0.0      │
│ 12  │ Combined_Key   │          │ ,,Belize            │          │

### 作業1：數值 Column 的計算

請問截至4月2日為止 (UTC 時間)，全球累計的確診、死亡、及㡽復案例數各是多少？

【提示】可參考 `sum()` 內建函式。

In [9]:
describe(df)

12×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable       │ mean     │ min                 │ median   │
│     │ Symbol         │ Union…   │ Any                 │ Union…   │
├─────┼────────────────┼──────────┼─────────────────────┼──────────┤
│ 1   │ FIPS           │ 30958.4  │ 66                  │ 29093.0  │
│ 2   │ Admin2         │          │ Abbeville           │          │
│ 3   │ Province_State │          │ Alabama             │          │
│ 4   │ Country_Region │          │ Afghanistan         │          │
│ 5   │ Last_Update    │          │ 2020-02-23 11:19:02 │          │
│ 6   │ Lat            │ 36.2992  │ -42.8821            │ 37.7171  │
│ 7   │ Long_          │ -78.9577 │ -159.597            │ -86.5104 │
│ 8   │ Confirmed      │ 394.378  │ 0                   │ 7.0      │
│ 9   │ Deaths         │ 20.624   │ 0                   │ 0.0      │
│ 10  │ Recovered      │ 81.8462  │ 0                   │ 0.0      │
│ 11  │ Active         │ 199.29   │ 0                   │ 0.0      │
│ 12  │ Combined_Key   │          │ ,,Belize            │          │

In [10]:
df2 = df[:,[:Confirmed,:Deaths,:Recovered]]
aggregate(df2,sum)

1×3 DataFrame
│ Row │ Confirmed_sum │ Deaths_sum │ Recovered_sum │
│     │ Int64         │ Int64      │ Int64         │
├─────┼───────────────┼────────────┼───────────────┤
│ 1   │ 1013157       │ 52983      │ 210263        │

In [20]:
b = sort(df,:Confirmed,rev=true)[:, [:Province_State, :Country_Region, :Confirmed, :Deaths, :Recovered]];
first(b,10)

10×5 DataFrame
│ Row │ Province_State │ Country_Region │ Confirmed │ Deaths │ Recovered │
│     │ String⍰        │ String         │ Int64     │ Int64  │ Int64     │
├─────┼────────────────┼────────────────┼───────────┼────────┼───────────┤
│ 1   │ missing        │ Italy          │ 115242    │ 13915  │ 18278     │
│ 2   │ missing        │ Spain          │ 112065    │ 10348  │ 26743     │
│ 3   │ missing        │ Germany        │ 84794     │ 1107   │ 22440     │
│ 4   │ Hubei          │ China          │ 67802     │ 3199   │ 63471     │
│ 5   │ missing        │ France         │ 59105     │ 5387   │ 12428     │
│ 6   │ New York       │ US             │ 51809     │ 1397   │ 0         │
│ 7   │ missing        │ Iran           │ 50468     │ 3160   │ 16711     │
│ 8   │ missing        │ United Kingdom │ 33718     │ 2921   │ 135       │
│ 9   │ missing        │ Switzerland    │ 18827     │ 536    │ 4013      │
│ 10  │ missing        │ Turkey         │ 18135     │ 356    │ 415       │

上面解答範例列出確診案例數前 10 名的 Province_State, Country_Region, Confirmed, Deaths, Recovered 等 5 個 column。

### 作業2：找出特定的 Row

截至4月2日為止 (UTC 時間)，台灣的確診、死亡、及㡽復案例數為多少？

【提示】使用點運算 `.==` 來比較同一 column 中所有值。

In [30]:
countryname = df[findall(occursin.("Taiwan",df.Country_Region)),:Country_Region]

1-element Array{String,1}:
 "Taiwan*"

In [31]:
df[df.Country_Region .== countryname,[:Confirmed,:Deaths,:Recovered]]

1×3 DataFrame
│ Row │ Confirmed │ Deaths │ Recovered │
│     │ Int64     │ Int64  │ Int64     │
├─────┼───────────┼────────┼───────────┤
│ 1   │ 339       │ 5      │ 45        │