# DataFrames.jl 介紹 (二): Joins 與 Split-Apply-Combine Strategy

## Day 018 作業1：The Split-Apply-Combine Strategy

同 Day 017，請載入 2020/4/2 COVID-19 Daily Report 資料集，計算每個國家/地區的累計確診人數，並列出所有資料筆數。

In [1]:
using DataFrames, CSV

In [5]:
df = CSV.read("04-02-2020.csv")
show(df[1,:],allcols = true)

DataFrameRow
│ Row │ FIPS   │ Admin2    │ Province_State │ Country_Region │
│     │ Int64⍰ │ String⍰   │ String⍰        │ String         │
├─────┼────────┼───────────┼────────────────┼────────────────┤
│ 1   │ 45001  │ Abbeville │ South Carolina │ US             │

│ Row │ Last_Update         │ Lat      │ Long_    │ Confirmed │ Deaths │
│     │ String              │ Float64⍰ │ Float64⍰ │ Int64     │ Int64  │
├─────┼─────────────────────┼──────────┼──────────┼───────────┼────────┤
│ 1   │ 2020-04-02 23:25:27 │ 34.2233  │ -82.4617 │ 6         │ 0      │

│ Row │ Recovered │ Active │ Combined_Key                  │
│     │ Int64     │ Int64  │ String                        │
├─────┼───────────┼────────┼───────────────────────────────┤
│ 1   │ 0         │ 0      │ Abbeville, South Carolina, US │

計算計算每個國家/地區的累計確診人數

【提示】可使用 groupby 相關的函式

In [31]:
df2 = by(df,:Country_Region, totalConfirmed = :Confirmed => sum)
show(df2,allrows=true)

181×2 DataFrame
│ Row │ Country_Region                   │ totalConfirmed │
│     │ String                           │ Int64          │
├─────┼──────────────────────────────────┼────────────────┤
│ 1   │ US                               │ 243453         │
│ 2   │ Canada                           │ 11284          │
│ 3   │ United Kingdom                   │ 34173          │
│ 4   │ China                            │ 82432          │
│ 5   │ Netherlands                      │ 14788          │
│ 6   │ Australia                        │ 5116           │
│ 7   │ Denmark                          │ 3573           │
│ 8   │ France                           │ 59929          │
│ 9   │ Afghanistan                      │ 273            │
│ 10  │ Albania                          │ 277            │
│ 11  │ Algeria                          │ 986            │
│ 12  │ Andorra                          │ 428            │
│ 13  │ Angola                           │ 8              │
│ 14  │ Antigua and Barbuda              │ 9              │
│ 15  │ Argentina                        │ 1133           │
│ 16  │ Armenia                          │ 663            │
│ 17  │ Austria                          │ 11129          │
│ 18  │ Azerbaijan                       │ 400            │
│ 19  │ Bahamas                          │ 24             │
│ 20  │ Bahrain                          │ 643            │
│ 21  │ Bangladesh                       │ 56             │
│ 22  │ Barbados                         │ 46             │
│ 23  │ Belarus                          │ 304            │
│ 24  │ Belgium                          │ 15348          │
│ 25  │ Belize                           │ 3              │
│ 26  │ Benin                            │ 13             │
│ 27  │ Bhutan                           │ 5              │
│ 28  │ Bolivia                          │ 123            │
│ 29  │ Bosnia and Herzegovina           │ 533            │
│ 30  │ Botswana                         │ 4              │
│ 31  │ Brazil                           │ 8044           │
│ 32  │ Brunei                           │ 133            │
│ 33  │ Bulgaria                         │ 457            │
│ 34  │ Burkina Faso                     │ 288            │
│ 35  │ Burma                            │ 20             │
│ 36  │ Burundi                          │ 3              │
│ 37  │ Cabo Verde                       │ 6              │
│ 38  │ Cambodia                         │ 110            │
│ 39  │ Cameroon                         │ 306            │
│ 40  │ Central African Republic         │ 3              │
│ 41  │ Chad                             │ 8              │
│ 42  │ Chile                            │ 3404           │
│ 43  │ Colombia                         │ 1161           │
│ 44  │ Congo (Brazzaville)              │ 22             │
│ 45  │ Congo (Kinshasa)                 │ 134            │
│ 46  │ Costa Rica                       │ 396            │
│ 47  │ Cote d'Ivoire                    │ 194            │
│ 48  │ Croatia                          │ 1011           │
│ 49  │ Cuba                             │ 233            │
│ 50  │ Cyprus                           │ 356            │
│ 51  │ Czechia                          │ 3858           │
│ 52  │ Diamond Princess                 │ 712            │
│ 53  │ Djibouti                         │ 40             │
│ 54  │ Dominica                         │ 12             │
│ 55  │ Dominican Republic               │ 1380           │
│ 56  │ Ecuador                          │ 3163           │
│ 57  │ Egypt                            │ 865            │
│ 58  │ El Salvador                      │ 41             │
│ 59  │ Equatorial Guinea                │ 15             │
│ 60  │ Eritrea                          │ 22             │
│ 61  │ Estonia                          │ 858            │
│ 62  │ Eswatini                         │ 9              │
│ 63  │ Ethiopia                         │ 29             │
│ 64  │ Fiji                             │ 7              │
│ 65  │ Finland                          │ 1518           │
│ 66  │ Gabon                            │ 21             │
│ 67  │ Gambia                           │ 4              │
│ 68  │ Georgia                          │ 134            │
│ 69  │ Germany                          │ 84794          │
│ 70  │ Ghana                            │ 204            │
│ 71  │ Greece                           │ 1544           │
│ 72  │ Grenada                          │ 10             │
│ 73  │ Guatemala                        │ 47             │
│ 74  │ Guinea                           │ 52             │
│ 75  │ Guinea-Bissau                    │ 9              │
│ 76  │ Guyana                           │ 19             │
│ 77  │ Haiti                            │ 16             │
│ 78  │ Holy See                         │ 7              │
│ 79  │ Honduras                         │ 219            │
│ 80  │ Hungary                          │ 585            │
│ 81  │ Iceland                          │ 1319           │
│ 82  │ India                            │ 2543           │
│ 83  │ Indonesia                        │ 1790           │
│ 84  │ Iran                             │ 50468          │
│ 85  │ Iraq                             │ 772            │
│ 86  │ Ireland                          │ 3849           │
│ 87  │ Israel                           │ 6857           │
│ 88  │ Italy                            │ 115242         │
│ 89  │ Jamaica                          │ 47             │
│ 90  │ Japan                            │ 2495           │
│ 91  │ Jordan                           │ 299            │
│ 92  │ Kazakhstan                       │ 435            │
│ 93  │ Kenya                            │ 110            │
│ 94  │ Korea, South                     │ 9976           │
│ 95  │ Kosovo                           │ 125            │
│ 96  │ Kuwait                           │ 342            │
│ 97  │ Kyrgyzstan                       │ 116            │
│ 98  │ Laos                             │ 10             │
│ 99  │ Latvia                           │ 458            │
│ 100 │ Lebanon                          │ 494            │
│ 101 │ Liberia                          │ 6              │
│ 102 │ Libya                            │ 11             │
│ 103 │ Liechtenstein                    │ 75             │
│ 104 │ Lithuania                        │ 649            │
│ 105 │ Luxembourg                       │ 2487           │
│ 106 │ MS Zaandam                       │ 9              │
│ 107 │ Madagascar                       │ 59             │
│ 108 │ Malawi                           │ 3              │
│ 109 │ Malaysia                         │ 3116           │
│ 110 │ Maldives                         │ 19             │
│ 111 │ Mali                             │ 36             │
│ 112 │ Malta                            │ 196            │
│ 113 │ Mauritania                       │ 6              │
│ 114 │ Mauritius                        │ 169            │
│ 115 │ Mexico                           │ 1378           │
│ 116 │ Moldova                          │ 505            │
│ 117 │ Monaco                           │ 60             │
│ 118 │ Mongolia                         │ 14             │
│ 119 │ Montenegro                       │ 144            │
│ 120 │ Morocco                          │ 708            │
│ 121 │ Mozambique                       │ 10             │
│ 122 │ Namibia                          │ 14             │
│ 123 │ Nepal                            │ 6              │
│ 124 │ New Zealand                      │ 797            │
│ 125 │ Nicaragua                        │ 5              │
│ 126 │ Niger                            │ 98             │
│ 127 │ Nigeria                          │ 184            │
│ 128 │ North Macedonia                  │ 384            │
│ 129 │ Norway                           │ 5147           │
│ 130 │ Oman                             │ 231            │
│ 131 │ Pakistan                         │ 2421           │
│ 132 │ Panama                           │ 1317           │
│ 133 │ Papua New Guinea                 │ 1              │

│ 134 │ Paraguay                         │ 77             │
│ 135 │ Peru                             │ 1414           │
│ 136 │ Philippines                      │ 2633           │
│ 137 │ Poland                           │ 2946           │
│ 138 │ Portugal                         │ 9034           │
│ 139 │ Qatar                            │ 949            │
│ 140 │ Romania                          │ 2738           │
│ 141 │ Russia                           │ 3548           │
│ 142 │ Rwanda                           │ 84             │
│ 143 │ Saint Kitts and Nevis            │ 9              │
│ 144 │ Saint Lucia                      │ 13             │
│ 145 │ Saint Vincent and the Grenadines │ 2              │
│ 146 │ San Marino                       │ 245            │
│ 147 │ Saudi Arabia                     │ 1885           │
│ 148 │ Senegal                          │ 195            │
│ 149 │ Serbia                           │ 1171           │
│ 150 │ Seychelles                       │ 10             │
│ 151 │ Sierra Leone                     │ 2              │
│ 152 │ Singapore                        │ 1049           │
│ 153 │ Slovakia                         │ 426            │
│ 154 │ Slovenia                         │ 897            │
│ 155 │ Somalia                          │ 5              │
│ 156 │ South Africa                     │ 1462           │
│ 157 │ Spain                            │ 112065         │
│ 158 │ Sri Lanka                        │ 151            │
│ 159 │ Sudan                            │ 8              │
│ 160 │ Suriname                         │ 10             │
│ 161 │ Sweden                           │ 5568           │
│ 162 │ Switzerland                      │ 18827          │
│ 163 │ Syria                            │ 16             │
│ 164 │ Taiwan*                          │ 339            │
│ 165 │ Tanzania                         │ 20             │
│ 166 │ Thailand                         │ 1875           │
│ 167 │ Timor-Leste                      │ 1              │
│ 168 │ Togo                             │ 39             │
│ 169 │ Trinidad and Tobago              │ 94             │
│ 170 │ Tunisia                          │ 455            │
│ 171 │ Turkey                           │ 18135          │
│ 172 │ Uganda                           │ 45             │
│ 173 │ Ukraine                          │ 897            │
│ 174 │ United Arab Emirates             │ 1024           │
│ 175 │ Uruguay                          │ 350            │
│ 176 │ Uzbekistan                       │ 205            │
│ 177 │ Venezuela                        │ 146            │
│ 178 │ Vietnam                          │ 233            │
│ 179 │ West Bank and Gaza               │ 161            │
│ 180 │ Zambia                           │ 39             │
│ 181 │ Zimbabwe                         │ 9              │

## 作業2：請列出美國各區域或事件 (依 Province_State 欄) 的累積確診、死亡、康復人數。

【提示】使用 Split-Apply-Combine Strategy 時，有幾種不同的函式可以使用，請參照 `DataFrames.jl` 官方文件 [https://juliadata.github.io/DataFrames.jl/stable/lib/functions/#DataFrames.groupby](https://juliadata.github.io/DataFrames.jl/stable/lib/functions/#DataFrames.groupby)

In [33]:
df_US = filter(x -> x.Country_Region == "US", df);
gp = groupby(df_US,:Province_State);
println("Total $(size(df_US,1)) rows are splitted into $(length(gp)) groups")  # number of groups
US_summary = by(df_US, :Province_State; totalComfirmed = :Confirmed => sum, totalDeaths = :Deaths => sum, recovered = :Recovered => sum);
show(US_summary,allrows = true)

Total 2312 rows are splitted into 58 groups
58×4 DataFrame
│ Row │ Province_State           │ totalComfirmed │ totalDeaths │ recovered │
│     │ Union{Missing, String}   │ Int64          │ Int64       │ Int64     │
├─────┼──────────────────────────┼────────────────┼─────────────┼───────────┤
│ 1   │ South Carolina           │ 1554           │ 31          │ 0         │
│ 2   │ Louisiana                │ 9159           │ 310         │ 0         │
│ 3   │ Virginia                 │ 1706           │ 41          │ 0         │
│ 4   │ Idaho                    │ 776            │ 9           │ 0         │
│ 5   │ Iowa                     │ 614            │ 11          │ 0         │
│ 6   │ Missouri                 │ 1857           │ 22          │ 0         │
│ 7   │ Oklahoma                 │ 881            │ 34          │ 0         │
│ 8   │ Colorado                 │ 3342           │ 80          │ 0         │
│ 9   │ Illinois                 │ 7695           │ 163         │ 0         │
│ 10  │ Indiana                  │ 3038           │ 78          │ 0         │
│ 11  │ Mississippi              │ 1177           │ 26          │ 0         │
│ 12  │ Nebraska                 │ 246            │ 5           │ 0         │
│ 13  │ Pennsylvania             │ 7268           │ 90          │ 0         │
│ 14  │ Washington               │ 6389           │ 271         │ 0         │
│ 15  │ Wisconsin                │ 1748           │ 38          │ 0         │
│ 16  │ Vermont                  │ 338            │ 17          │ 0         │
│ 17  │ Florida                  │ 9008           │ 164         │ 0         │
│ 18  │ North Carolina           │ 1977           │ 21          │ 0         │
│ 19  │ California               │ 10773          │ 238         │ 0         │
│ 20  │ New York                 │ 92506          │ 2373        │ 0         │
│ 21  │ Wyoming                  │ 150            │ 0           │ 0         │
│ 22  │ Michigan                 │ 10791          │ 417         │ 0         │
│ 23  │ Maryland                 │ 2331           │ 36          │ 0         │
│ 24  │ Kentucky                 │ 770            │ 31          │ 0         │
│ 25  │ Ohio                     │ 2901           │ 81          │ 0         │
│ 26  │ Alaska                   │ 143            │ 3           │ 0         │
│ 27  │ Kansas                   │ 553            │ 12          │ 0         │
│ 28  │ Tennessee                │ 2845           │ 36          │ 0         │
│ 29  │ Texas                    │ 5069           │ 77          │ 0         │
│ 30  │ Maine                    │ 376            │ 7           │ 0         │
│ 31  │ Minnesota                │ 742            │ 18          │ 0         │
│ 32  │ Arizona                  │ 1715           │ 32          │ 0         │
│ 33  │ Georgia                  │ 5348           │ 163         │ 0         │
│ 34  │ Arkansas                 │ 643            │ 12          │ 0         │
│ 35  │ New Jersey               │ 25590          │ 537         │ 0         │
│ 36  │ South Dakota             │ 165            │ 2           │ 0         │
│ 37  │ Alabama                  │ 1233           │ 32          │ 0         │
│ 38  │ West Virginia            │ 216            │ 2           │ 0         │
│ 39  │ North Dakota             │ 159            │ 3           │ 0         │
│ 40  │ Massachusetts            │ 8966           │ 154         │ 0         │
│ 41  │ New Hampshire            │ 316            │ 3           │ 0         │
│ 42  │ Oregon                   │ 826            │ 21          │ 0         │
│ 43  │ New Mexico               │ 388            │ 6           │ 0         │
│ 44  │ Utah                     │ 1092           │ 7           │ 0         │
│ 45  │ Rhode Island             │ 657            │ 12          │ 0         │
│ 46  │ Montana                  │ 241            │ 6           │ 0         │
│ 47  │ Nevada                   │ 1463           │ 38          │ 0         │
│ 48  │ District of Columbia     │ 653            │ 12          │ 0         │
│ 49  │ Connecticut              │ 3824           │ 112         │ 0         │
│ 50  │ Hawaii                   │ 256            │ 1           │ 0         │
│ 51  │ Delaware                 │ 393            │ 12          │ 0         │
│ 52  │ Diamond Princess         │ 49             │ 0           │ 0         │
│ 53  │ Grand Princess           │ 103            │ 3           │ 0         │
│ 54  │ Guam                     │ 82             │ 3           │ 0         │
│ 55  │ Northern Mariana Islands │ 6              │ 1           │ 0         │
│ 56  │ Puerto Rico              │ 316            │ 12          │ 0         │
│ 57  │ Recovered                │ 0              │ 0           │ 9001      │
│ 58  │ Virgin Islands           │ 30             │ 0           │ 0         │

In [35]:
# alternatively (from the reference answer)
df_US_grouped = groupby(df[df.Country_Region .== "US", :], :Province_State)
show(combine(df_US_grouped, :Confirmed => sum, :Deaths => sum, :Recovered => sum), allrows=true)

58×4 DataFrame
│ Row │ Province_State           │ Confirmed_sum │ Deaths_sum │ Recovered_sum │
│     │ Union{Missing, String}   │ Int64         │ Int64      │ Int64         │
├─────┼──────────────────────────┼───────────────┼────────────┼───────────────┤
│ 1   │ South Carolina           │ 1554          │ 31         │ 0             │
│ 2   │ Louisiana                │ 9159          │ 310        │ 0             │
│ 3   │ Virginia                 │ 1706          │ 41         │ 0             │
│ 4   │ Idaho                    │ 776           │ 9          │ 0             │
│ 5   │ Iowa                     │ 614           │ 11         │ 0             │
│ 6   │ Missouri                 │ 1857          │ 22         │ 0             │
│ 7   │ Oklahoma                 │ 881           │ 34         │ 0             │
│ 8   │ Colorado                 │ 3342          │ 80         │ 0             │
│ 9   │ Illinois                 │ 7695          │ 163        │ 0             │
│ 10  │ Indiana                  │ 3038          │ 78         │ 0             │
│ 11  │ Mississippi              │ 1177          │ 26         │ 0             │
│ 12  │ Nebraska                 │ 246           │ 5          │ 0             │
│ 13  │ Pennsylvania             │ 7268          │ 90         │ 0             │
│ 14  │ Washington               │ 6389          │ 271        │ 0             │
│ 15  │ Wisconsin                │ 1748          │ 38         │ 0             │
│ 16  │ Vermont                  │ 338           │ 17         │ 0             │
│ 17  │ Florida                  │ 9008          │ 164        │ 0             │
│ 18  │ North Carolina           │ 1977          │ 21         │ 0             │
│ 19  │ California               │ 10773         │ 238        │ 0             │
│ 20  │ New York                 │ 92506         │ 2373       │ 0             │
│ 21  │ Wyoming                  │ 150           │ 0          │ 0             │
│ 22  │ Michigan                 │ 10791         │ 417        │ 0             │
│ 23  │ Maryland                 │ 2331          │ 36         │ 0             │
│ 24  │ Kentucky                 │ 770           │ 31         │ 0             │
│ 25  │ Ohio                     │ 2901          │ 81         │ 0             │
│ 26  │ Alaska                   │ 143           │ 3          │ 0             │
│ 27  │ Kansas                   │ 553           │ 12         │ 0             │
│ 28  │ Tennessee                │ 2845          │ 36         │ 0             │
│ 29  │ Texas                    │ 5069          │ 77         │ 0             │
│ 30  │ Maine                    │ 376           │ 7          │ 0             │
│ 31  │ Minnesota                │ 742           │ 18         │ 0             │
│ 32  │ Arizona                  │ 1715          │ 32         │ 0             │
│ 33  │ Georgia                  │ 5348          │ 163        │ 0             │
│ 34  │ Arkansas                 │ 643           │ 12         │ 0             │
│ 35  │ New Jersey               │ 25590         │ 537        │ 0             │
│ 36  │ South Dakota             │ 165           │ 2          │ 0             │
│ 37  │ Alabama                  │ 1233          │ 32         │ 0             │
│ 38  │ West Virginia            │ 216           │ 2          │ 0             │
│ 39  │ North Dakota             │ 159           │ 3          │ 0             │
│ 40  │ Massachusetts            │ 8966          │ 154        │ 0             │
│ 41  │ New Hampshire            │ 316           │ 3          │ 0             │
│ 42  │ Oregon                   │ 826           │ 21         │ 0             │
│ 43  │ New Mexico               │ 388           │ 6          │ 0             │
│ 44  │ Utah                     │ 1092          │ 7          │ 0             │
│ 45  │ Rhode Island             │ 657           │ 12         │ 0             │
│ 46  │ Montana                  │ 241           │ 6          │ 0             │
│ 47  │ Nevada                   │ 1463          │ 38         │ 0             │
│ 48  │ District of Columbia     │ 653           │ 12         │ 0             │
│ 49  │ Connecticut              │ 3824          │ 112        │ 0             │
│ 50  │ Hawaii                   │ 256           │ 1          │ 0             │
│ 51  │ Delaware                 │ 393           │ 12         │ 0             │
│ 52  │ Diamond Princess         │ 49            │ 0          │ 0             │
│ 53  │ Grand Princess           │ 103           │ 3          │ 0             │
│ 54  │ Guam                     │ 82            │ 3          │ 0             │
│ 55  │ Northern Mariana Islands │ 6             │ 1          │ 0             │
│ 56  │ Puerto Rico              │ 316           │ 12         │ 0             │
│ 57  │ Recovered                │ 0             │ 0          │ 9001          │
│ 58  │ Virgin Islands           │ 30            │ 0          │ 0             │